<div class="step-wrapper">
  <div class="form-body">
    {{yield}}
    <div class="button-holder">
      {{#if showCustomButton}}
      <button class="button" {{action "customAction"}}>{{customButtonText}}</button>
      {{/if}}
      {{#if showNextStep }}
      <button class="button next-step" {{action "updateStep" nextStep}}>Next Step</button>
      {{/if}}
    </div>
  </div>
</div>