<label>Upload Manifest</label>
<input class="upload-file" placeholder="Choose File" disabled="disabled" />
<div class="fileUpload btn">
	<span>Browse</span>
	{{file-input class="upload" action="uploadManifest"}}
</div>
{{yield}}
