@mixin grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 10px;

  padding: 0 52px;

  @media (max-width: 880px) {
      padding: 0 32px;
  }

  @media screen and (min-width: 1336px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* TODO: Be able to generalize the linear equation based on the two input angles as well. */
@mixin backgroundLeftPoint($x-break-percent, $view-height) {
  background: 
    linear-gradient(-18deg, #F0F0F0, #F0F0F0 $view-height, rgba(255,0,0,0) $view-height+0.1vh),  
    linear-gradient(10deg, #F0F0F0, #F0F0F0 _newHeight-backgroundLeftPoint($view-height), rgba(255,0,0,0) _newHeight-backgroundLeftPoint($view-height)+0.1vh),    
    linear-gradient(-32deg, #9337D8, #1FC2C8);
  background-size: ($x-break-percent + 0.07%) 100%, (100 - $x-break-percent + 0.05%) 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, right, center;
}

@function _newHeight-backgroundLeftPoint($height) {
  @return $height + (0.03529362 * $height) - 0.02056302vh;
}

@mixin backgroundRightPoint($x-break-percent, $view-height) {
  background: 
    linear-gradient(-8deg, #F0F0F0, #F0F0F0 $view-height, rgba(255,0,0,0) $view-height+0.1vh),  
    linear-gradient(19deg, #F0F0F0, #F0F0F0 _newHeight-backgroundRightPoint($view-height), rgba(255,0,0,0) _newHeight-backgroundRightPoint($view-height)+0.1vh),
    linear-gradient(-32deg, #9337D8, #1FC2C8);
  background-size: ($x-break-percent + 0.05%) 100%, (100 - $x-break-percent + 0.05%) 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, right, center;
}
  
@function _newHeight-backgroundRightPoint($height) {
  @return $height + (-0.04438402 * $height) - 0.02623998vh;
}

@mixin flexMaxWidth($val) {
  flex: 0 0 $val;
  max-width: $val;
}

// Row and column layouts
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  @include flexMaxWidth(8.333333%);
}

.col-2 {
  @include flexMaxWidth(16.666667%);
}

.col-3 {
  @include flexMaxWidth(25%);
}

.col-4 {
  @include flexMaxWidth(33.333333%);
}

.col-5 {
  @include flexMaxWidth(41.666667%);
}

.col-6 {
  @include flexMaxWidth(50%);
}

.col-7 {
  @include flexMaxWidth(58.333333%);
}

.col-8 {
  @include flexMaxWidth(66.666667%);
}

.col-9 {
  @include flexMaxWidth(75%);
}

.col-10 {
  @include flexMaxWidth(83.333333%);
}

.col-11 {
  @include flexMaxWidth(91.666667%);
}

.col-12 {
  @include flexMaxWidth(100%);
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    @include flexMaxWidth(8.333333%);
  }
  .col-sm-2 {
    @include flexMaxWidth(16.666667%);
  }
  .col-sm-3 {
    @include flexMaxWidth(25%);
  }
  .col-sm-4 {
    @include flexMaxWidth(33.333333%);
  }
  .col-sm-5 {
    @include flexMaxWidth(41.666667%);
  }
  .col-sm-6 {
    @include flexMaxWidth(50%);
  }
  .col-sm-7 {
    @include flexMaxWidth(58.333333%);
  }
  .col-sm-8 {
    @include flexMaxWidth(66.666667%);
  }
  .col-sm-9 {
    @include flexMaxWidth(75%);
  }
  .col-sm-10 {
    @include flexMaxWidth(83.333333%);
  }
  .col-sm-11 {
    @include flexMaxWidth(91.666667%);
  }
  .col-sm-12 {
    @include flexMaxWidth(100%);
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    @include flexMaxWidth(8.333333%);
  }
  .col-md-2 {
    @include flexMaxWidth(16.666667%);
  }
  .col-md-3 {
    @include flexMaxWidth(25%);
  }
  .col-md-4 {
    @include flexMaxWidth(33.333333%);
  }
  .col-md-5 {
    @include flexMaxWidth(41.666667%);
  }
  .col-md-6 {
    @include flexMaxWidth(50%);
  }
  .col-md-7 {
    @include flexMaxWidth(58.333333%);
  }
  .col-md-8 {
    @include flexMaxWidth(66.666667%);
  }
  .col-md-9 {
    @include flexMaxWidth(75%);
  }
  .col-md-10 {
    @include flexMaxWidth(83.333333%);
  }
  .col-md-11 {
    @include flexMaxWidth(91.666667%);
  }
  .col-md-12 {
    @include flexMaxWidth(100%);
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    @include flexMaxWidth(8.333333%);
  }
  .col-lg-2 {
    @include flexMaxWidth(16.666667%);
  }
  .col-lg-3 {
    @include flexMaxWidth(25%);
  }
  .col-lg-4 {
    @include flexMaxWidth(33.333333%);
  }
  .col-lg-5 {
    @include flexMaxWidth(41.666667%);
  }
  .col-lg-6 {
    @include flexMaxWidth(50%);
  }
  .col-lg-7 {
    @include flexMaxWidth(58.333333%);
  }
  .col-lg-8 {
    @include flexMaxWidth(66.666667%);
  }
  .col-lg-9 {
    @include flexMaxWidth(75%);
  }
  .col-lg-10 {
    @include flexMaxWidth(83.333333%);
  }
  .col-lg-11 {
    @include flexMaxWidth(91.666667%);
  }
  .col-lg-12 {
    @include flexMaxWidth(100%);
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    @include flexMaxWidth(8.333333%);
  }
  .col-xl-2 {
    @include flexMaxWidth(16.666667%);
  }
  .col-xl-3 {
    @include flexMaxWidth(25%);
  }
  .col-xl-4 {
    @include flexMaxWidth(33.333333%);
  }
  .col-xl-5 {
    @include flexMaxWidth(41.666667%);
  }
  .col-xl-6 {
    @include flexMaxWidth(50%);
  }
  .col-xl-7 {
    @include flexMaxWidth(58.333333%);
  }
  .col-xl-8 {
    @include flexMaxWidth(66.666667%);
  }
  .col-xl-9 {
    @include flexMaxWidth(75%);
  }
  .col-xl-10 {
    @include flexMaxWidth(83.333333%);
  }
  .col-xl-11 {
    @include flexMaxWidth(91.666667%);
  }
  .col-xl-12 {
    @include flexMaxWidth(100%);
  }
}