// Colors
$color-brand: #1FC2C8;
$color-brand-dark: darken($color-brand, 10%);
$color-brand-darker: darken($color-brand, 15%);
$color-brand-bright: lighten($color-brand, 10%);
$color-brand-brighter: #E8F9F9;

$color-secondary: #FFCD50;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-darker: darken($color-secondary, 20%);
$color-secondary-bright: lighten($color-secondary, 10%);
$color-secondary-brighter: lighten($color-secondary, 20%);

$color-complementary: #6A3AB2;
$color-complementary-dark: darken($color-complementary, 10%);
$color-complementary-darker: darken($color-complementary, 20%);
$color-complementary-bright: lighten($color-complementary, 5%);
$color-complementary-brighter: lighten($color-complementary, 50%);

$color-background-semidark: #5A5A5A;
$color-background-dark: #EAEAEA;
$color-background-darker: #333333;
$color-background-darkest: #000;
$color-background-bright: rgba($color-background-darker, .05);
$color-background-brighter: #FFFFFF;

$color-foreground-dark: #8B8B8B;
$color-foreground-darker: #333333;
$color-foreground-darkest: #000;
$color-foreground-bright: #F2F2F2;
$color-foreground-brighter: #FFFFFF;

$color-shell-prompt: #B25538;
$color-shell-command: #FEC77C;

$color-error: #ED4545;
$color-error-bright: lighten($color-error, 5%);

// Animations
$animation-speed-default: .35s;
$animation-speed-slow: 1s;
$animation-speed-fast: .15s;
$animation-ease-default: ease-out;
$animation-ease-minimal: linear;
$animation-ease-vibrant: #{'cubic-bezier(.03, .77, .39, 1.21)'};

// Fonts
$font-weight-light: 200;
$font-weight-semilight: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

$font-size-xxs: .65rem;    // 10px
$font-size-xs: .75rem;    // 12px
$font-size-s: .85rem;    // 13.6px
$font-size-m: 1rem;      // 16px
$font-size-l: 1.5rem;    // 24px
$font-size-xl: 2.5rem;   // 40px

// Medias
$media-screen-xxs: 360px;
$media-screen-xs: 640px;
$media-screen-s: 768px;
$media-screen-m: 1024px;
$media-screen-l: 1280px;
$media-screen-xl: 1440px;
$media-screen-xxl: 1680px;
$media-screen-xxxl: 1920px;