:root {
    /* General Theme */
    --theme-color: #491576;
    --heading-color: #491576;
    --heading-h2-border-style: none;
    --heading-h2-font-size: 30px;
    --heading-h2-margin: .75em 0 -.75em 0;
    /* Sidebar */
    --sidebar-name-color: #491576;
    --sidebar-background: linear-gradient(to right, #F2F0F4, #F2FBFD);
    --sidebar-name-font-weight: 400;
    --sidebar-nav-pagelink-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='rgb%28179, 179, 179%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%2873, 21, 118%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--collapse: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='rgb%2873, 21, 118%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    --sidebar-nav-pagelink-background-image--loaded: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%2873, 21, 118%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
    /* Search */
    --search-flex-order: 1;
    --search-input-border-radius: 15px;
    --search-input-border-radius--focus: 15px;
    --search-margin: 1.5rem .75rem 0 .75rem;
    /* Notices */
    --notice-tip-background: #F2F0F4;
    --notice-tip-border-color: #491576;
    /* Warnings */
    /* Cover Page */
    --cover-background-color: #9C8DAB;
    --cover-button-border-radius: 20px;
    --cover-button-background: #7A688D;
    --cover-button-color: #fff;
    --cover-button-border: 1px solid #fff;
    --cover-button-primary-background: #7A688D;
    --cover-button-primary-color: #fff;
    --cover-button-primary-border: 1px solid #fff;
    
}

.docs-image {
    border-color: #7A688D;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

/* Home Nav CSS START */

.home-nav-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-nav-card {
    width: 33%;
    margin: 10px;
    text-align: center;
    justify-content: space-around;
    --border-color: #491576;
}

@media (max-width: 875px) {
    .home-nav-container {
        flex-direction: column;
    }

    .home-nav-card {
        width: 100%;
    }
}
.home-nav-container sl-button::part(base) {
    background: linear-gradient(to bottom, #d0c0e5, #bdaccc);
    color: white;
}

.home-nav-container sl-button::part(base):hover {
    border-color: #491576;
}

.home-nav-card::part(base) {
    justify-self: stretch;
    height: 100%;
}

.home-nav-card h3 {
    text-align: center;
}
.home-nav-card::part(body) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.home-nav-card sl-button {
    margin-top: 10px;
}

/* Home Nav CSS END */

sl-menu-item::part(base) {
    color: #491576;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px;
    font-weight: 500;
}

sl-menu-item[checked]::part(base) {
    background: #e7e2ee;
    border:#ada6b4 1px solid;
}

sl-menu::part(base) {
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, #f9f4ff, #e7f6fa);
}

sl-menu-item::part(base):hover {
    background: linear-gradient(to bottom, #d0c0e5, #bdaccc);
    color: white;
}

sl-menu {
    padding-bottom: 10px;
    width: 100%;
}

sl-button {
    width: 100%;
}

.logo-img {
    padding-bottom: 15px;
}

sl-alert sl-button::part(base) {
    background: linear-gradient(to bottom, #d0c0e5, #bdaccc);
    color: white;
}

sl-alert sl-button::part(base):hover {
    border-color: #491576;
}

sl-alert::part(base) {
    border-top-color: #9C8DAB;
}

sl-alert::part(icon) {
    color: #491576;
}

sl-dialog {
    font-size: small;
}

#enter-url-div {
    margin-top: 25px;
    text-align: center;
    padding: 10px;
    border: solid;
    border-color: #9C8DAB;
    border-radius: 25px;
    border-width: 2px;
}

#url-input-div {
    display: flex;
    margin-top:10px;
    margin-bottom: 10px;
}

#url-input-div sl-input {
    width: 100%;

}

#url-input-div sl-input::part(form-control-input) {
    border-color: #9C8DAB;
}