@import 'variables';

html,
body {
  $font-size: 16px;

  background: white;
  font-family: Helvetica;
  font-size: $font-size;
  height: 100%;
  width: 100%;

  @media screen and (max-width: $media-screen-m) {
    font-size: $font-size * .875;
  }

  @media screen and (max-width: $media-screen-s) {
    font-size: $font-size * .75;
  }
}

.stop-scroll {
  overflow: hidden;
}
