@import 'variables';

.u {
    &-align {
        &-center {
            text-align: center;
        }

        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }

    &-center {
        &-vertical {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &-horizontal {
            display: block;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

        &-both {
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
