/* stylelint-disable*/

//new colors for brand
$color-brand-secondary: #45ADA8;
$color-button-primary: #9337D8;
$color-brand-tertiary: #3C3C3C;
$color-brand-quartary:#F49C45;
$color-brand-quintary:white;
$color-brand-warning: #D95050;

// $color-button-primary-green-variant: #21ABA5;
$color-button-primary-purple-variant: linear-gradient(to right, #703999, #9337D8);
// $color-button-primary-blue-variant: linear-gradient(to right, #4B76CC, #04BEFE);;

// Animations
$animation-speed-default: .35s;
$animation-speed-slow: 1s;
$animation-speed-fast: .15s;
$animation-ease-default: ease-out;
$animation-ease-minimal: linear;
$animation-ease-vibrant: #{'cubic-bezier(.03, .77, .39, 1.21)'};

// Fonts
$font-weight-light: 200;
$font-weight-semilight: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-size-xxs: .65rem;    // 10px
$font-size-xs: .75rem;    // 12px
$font-size-s: .85rem;    // 13.6px
$font-size-m: 1rem;      // 16px
$font-size-l: 1.5rem;    // 24px
$font-size-xl: 2.5rem;   // 40px
$font-family-l3: 'Segoe UI';

// Medias
$media-screen-xxs: 22.5em; // 360px
$media-screen-xs: 40em; // 640px
$media-screen-s: 48em; // 768px
$media-screen-m: 64em; // 1024px
$media-screen-l: 80em; // 1280px
$media-screen-xl: 71.25em; // 1440px
$media-screen-xxl: 105em; // 1680px
$media-screen-xxxl: 120em; // 1920px

// Variables for mixins
$medias: xxs, xs, s, m, l, xl, xxl, xxxl;
$mediavalues: $media-screen-xxs, $media-screen-xs, $media-screen-s, $media-screen-m, $media-screen-l, $media-screen-xl, $media-screen-xxl, $media-screen-xxxl;
