/* stylelint-disable */

@keyframes overlayUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
  }
  
	50% {
		background-position: 100% 50%
  }
  
	100% {
		background-position: 0% 50%
	}
}