**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/.devcontainer
**/coverage
**/.next
**/.cache
**/dist
**/.nuxt
**/.vuepress/dist
**/.serverless
**/.fusebox
**/.dynamodb
**/.tern-port
**/.nyc_output
**/lib-cov
**/logs
**/pids
**/*.pid
**/*.seed
**/*.pid.lock
**/jspm_packages
**/bower_components
**/.npm
**/.eslintcache
**/.stylelintcache
**/coverage
**/.nyc_output
**/test-results
**/playwright-report
**/.DS_Store
**/Thumbs.db

# Explicitly allow needed files
!apps/pwabuilder-microsoft-store/
!apps/pwabuilder-microsoft-store/**
!Dockerfile.WindowsChromium


