{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "reporter": [
    "text",
    "lcov"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "tests/**/*.spec.js",
    "unit_tests/**/*.test.ts"
  ]
}
