//Colors
$dark-accent:#282828; 		//Dark Grey
$primary-accent:#f12d2d; 	//Red
$secondary-accent:#2abebc; 	//Teal
$tertiary-accent:#f1b23c; 	//Gold
$quaternary-accent:#f29b30; 	//Orange
$table-accent:#e5e5e5; 	//Gray

//Background accented classes, mainly just for the style guide
.bg-dark-accent {
	background-color:$dark-accent;
}

.bg-primary-accent {
	background-color:$primary-accent;
}

.bg-secondary-accent {
	background-color:$secondary-accent;
}

.bg-tertiary-accent {
	background-color:$tertiary-accent;
}