html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: $sans-stack;
}


h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-family:$serif-stack;
}

h1 {
	font-size:2.25rem; 	//36px
}

h2 {
	font-size:2.125rem; //34px
}

h3 {
	font-size:1.875rem; //30px
}

h4 {
	font-size:1.75rem; 	//28px
}

h5 {
	font-size:1.5rem; 	//24px
}

button {
	background:$primary-accent;
	border:none;
	color:#fff;
	padding: .5em 1.125em;
	border-radius: 5px;
	line-height:1.2em;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

button:hover {
	background:$dark-accent;
	color: $primary-accent;
}

pre, .shell {
	font-family:$code-stack;
	font-size: 1.125em;
	padding: 1.25em 1.75em;
	margin:0 !important;
	background-color:black;
	color:white;
	box-shadow: 0px 0px 7px #333;
	border-radius:0 !important;
}

	.shell .line { display: block; margin: 0; padding: 0; }
	.shell .line span { display: inline-block; }
	.shell p.line { line-height: 1.375em; }
		.shell .prompt { color: #b25538; }
		.shell .command { color: #fec77c; }
		.shell .app { color: #ffffff; }

strong {
	font-family:$sans-stack-bold;
}

a {
	color:$primary-accent;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

a:hover {
	color: #000;
}