html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: $sans-stack;
}


h1, h2, h3, h4, h5, h6 {
	font-family:$serif-stack;
}

h1 {
	font-size:2.25rem; 	//36px
}

h2 {
	font-size:2.125rem; //34px
}

h3 {
	font-size:1.875rem; //30px
}

h4 {
	font-size:1.75rem; 	//28px
}

h5 {
	font-size:1.5rem; 	//24px
}

button {
	background:$primary-accent;
	border:none;
	color:#fff;
	padding:1em;
	border-radius: 7px;
	line-height:1.2em;
}

pre {
	font-family:$code-stack;
	padding:1em;
}