@import '../variables';

@font-face {
  font-family: 'Bitter';
  font-style:  normal;
  font-weight: $font-weight-normal;
  src: url('fonts/Bitter/Bitter-Regular.eot');
  src: url('fonts/Bitter/Bitter-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Bitter/Bitter-Regular.woff2') format('woff2'),
       url('fonts/Bitter/Bitter-Regular.woff') format('woff'),
       url('fonts/Bitter/Bitter-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-style:   normal;
  font-weight:  $font-weight-bold;
  src: url('fonts/Bitter/Bitter-Bold.eot');
  src: url('fonts/Bitter/Bitter-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Bitter/Bitter-Bold.woff2') format('woff2'),
       url('fonts/Bitter/Bitter-Bold.woff') format('woff'),
       url('fonts/Bitter/Bitter-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'FiraSans';
  font-style:   normal;
  font-weight:  $font-weight-light;
  src: url('fonts/FiraSans/FiraSans-Regular.eot');
  src: url('fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
       url('fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
       url('fonts/FiraSans/FiraSans-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'FiraSans';
  font-style:   normal;
  font-weight:  $font-weight-normal;
  src: url('fonts/FiraSans/FiraSans-Regular.eot');
  src: url('fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
       url('fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
       url('fonts/FiraSans/FiraSans-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'FiraSans';
  font-style:   normal;
  font-weight:  $font-weight-bold;
  src: url('fonts/FiraSans/FiraSans-Bold.eot');
  src: url('fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
       url('fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
       url('fonts/FiraSans/FiraSans-Bold.ttf')  format('truetype');
}