@import '../variables';

html,
body {
  font-family: 'FiraSans';
  font-size: 16px;

  @media screen and (max-width: $media-screen-l) {
    font-size: 14px;
  }

  @media screen and (max-width: $media-screen-s) {
    font-size: 12px;
  }
}