.bg-dark-accent {
	background-color:$dark-accent;
}

.bg-primary-accent {
	background-color:$primary-accent;
}

.bg-secondary-accent {
	background-color:$secondary-accent;
}

.bg-tertiary-accent {
	background-color:$tertiary-accent;
}