.build-process {
	padding:4.375rem;
	background-color: $tertiary-accent;
}

.build-process .title {
	font-size: 22px;
	text-align: right;
	margin: 0.625rem 1.875rem 0.625rem 5rem;
	line-height:1.2em;
}