@import '../variables';

.pwa-generator {
  &-header {
    background-color: $color-brand;
    color: $color-foreground-darker;
    font-family: 'Bitter';
    font-size: $font-size-l;
    text-align: center;
    margin-bottom: 4vw;
    padding: 1rem 0;
    width: 100%;

    &--minimal {
      background-color: transparent;
      margin-bottom: 2vw;
      text-align: left;
    }
  }

  &-title {
    font-family: 'Bitter';
    font-weight: $font-weight-semibold;
    font-size: $font-size-xl;
  }

  &-subtitle {
    font-family: 'Bitter';
    font-weight: $font-weight-normal;
    font-size: $font-size-l;

    &--last {
      margin-bottom: 2rem;
    }
  }

  &-info {
    font-family: 'Bitter';
    font-size: $font-size-m;
    margin: 2rem auto;
    text-align: center;
    width: 100%;

    @media screen and (max-width: $media-screen-m) {
      width: 90%;
    }
  }

  &-tabs {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  $tab-color-off: $color-brand-brighter;
  $tab-color-on: $color-brand;
  $tab-size: 16rem;
  &-tab {
    $size: 5rem;
    background-color: $tab-color-off;
    color: $color-foreground-darker;
    cursor: pointer;
    display: inline-block;
    font-family: 'Bitter';
    font-size: $font-size-m;
    height: $size;
    line-height: $font-size-m;
    margin: 0 3rem;
    padding: 2rem 1rem 2rem 3rem;
    position: relative;
    text-align: left;
    transition: all $animation-speed-default $animation-ease-default;
    width: $tab-size;

    &:after {
      border-top: $size / 2 solid transparent;
      border-bottom: $size / 2 solid transparent;
      border-left: $size / 2 solid $tab-color-off;
      content: '';
      height: 0; 
      right: - $size / 2;
      position: absolute;
      top: 0;
      transition: all $animation-speed-default $animation-ease-default;
      width: 0; 
    }

    &:before {
      $font: $size * .4;
      $border: .5rem;
      background-color: $color-background-brighter;
      border-radius: 50%;
      border: $border solid $tab-color-off;
      box-shadow: inset 0 0 0 .2rem $color-brand;
      content: attr(data-step);
      font-size: $font;
      height: $size; 
      left: - $size / 2;
      line-height: 2 * $font;
      position: absolute;
      text-align: center;
      top: 0;
      transition: all $animation-speed-default $animation-ease-default;
      width: $size;
    }

    &.active {
       background-color: $tab-color-on;
       transition: all $animation-speed-default $animation-ease-default;

       &:after { 
         border-left-color: $tab-color-on;
         transition: all $animation-speed-default $animation-ease-default;
       }

       &:before { 
         border-color: $tab-color-on;
         box-shadow: none;
         transition: all $animation-speed-default $animation-ease-default;
       }
    }

    &:hover {
      width: $tab-size * 1.2;
    }

    @media screen and (max-width: $media-screen-m) {
      border-radius: .5rem;
      display: block;
      margin: 2rem auto;

      &:after {
        border: none;
      }
    }
  }

  &-step {
    animation: generator-step-hide $animation-speed-slow forwards;
    background-color: $color-background-bright;
    display: none;
    margin-top: 4rem;
    padding-top: 2rem;

    &.active {
      animation: generator-step-show $animation-speed-slow forwards;
      display: block;
    }

    @media screen and (max-width: $media-screen-m) {
      padding: 10vw;
    }
  }

  @keyframes generator-step-hide {
    0% {
      opacity: 1;
    },

    100% {
      opacity: 0;
    }
  }

  @keyframes generator-step-show {
    0% {
      opacity: 0;
    },

    100% {
      opacity: 1;
    }
  }

  &-padded {
    padding-left: 18vw;

    @media screen and (max-width: $media-screen-l) {
      padding-left: 15vw;
    }

    @media screen and (max-width: $media-screen-m) {
      padding-left: 5vw;
    }

    @media screen and (max-width: $media-screen-s) {
      padding-left: 0;
    }
  }

  &-semipadded {
    padding-left: 9vw;

    @media screen and (max-width: $media-screen-l) {
      padding-left: 6vw;
    }

    @media screen and (max-width: $media-screen-m) {
      padding-left: 2vw;
    }

    @media screen and (max-width: $media-screen-s) {
      padding-left: 1vw;
    }
  }

  &-field {
    width: 100%;
  }

  &-label {
    color: $color-foreground-darker;
    display: block;
    font-family: 'Bitter';
    font-size: $font-size-m;
    padding-left: .5rem;
  }

  $max-size: 90%;
  &-input {
    background-color: $color-background-brighter;
    border: .15rem solid $color-foreground-dark; 
    border-radius: .25rem;
    color: $color-foreground-darker;
    font-family: 'FiraSans';
    font-size: $font-size-m;
    margin: .75rem 0 1.5rem 0;
    padding: 1rem;
    width: $max-size;

    &--select {
      background-color: $color-background-dark;
      cursor: pointer;
      text-transform: capitalize;
    }

    &--fake {
      cursor: pointer;
      display: inline-block;
      width: 90%;
    }

    &:focus {
      background-color: $color-background-brighter;
      border-color: $color-brand;
      outline: 0;
    }

    &:disabled,
    &.is-disabled {
      background-color: $color-background-dark;
    }

  }

  &-wrapper {
    height: 5rem;
    position: relative;

    @media screen and (max-width: $media-screen-m) {
      height: 4rem;
    }
  }

  &-error {
    color: $color-error;
  }

  &-loading {
    display: inline-block;
    font-size: $font-size-m;
    padding-left: .25rem;
    transform: translateY(-10%);
  }

  &-table {
    background-color: $color-background-brighter;
    border-radius: .5rem;
    margin: 2rem 0;
    padding: 1rem;
    width: $max-size;

    @media screen and (max-width: $media-screen-s) {
      margin: 3rem 0;
    }
  }

  &-tableh {
    font-family: 'Bitter';
    font-size: $font-size-l;
  }

  &-tablec {
    font-family: 'Bitter';
    font-size: $font-size-m;
    text-transform: capitalize;

    img {
      max-width: 90%;
    }

    &--right {
      text-align: right;
    }
  }

  &-close {
    color: $color-foreground-darker;
    cursor: pointer;

    &:hover {
      color: $color-complementary;
    }
  }
}