.generate {

	.main-info {
		width:90%;
		margin:0 auto;
	}

	#builder_holder {

		h2 {
			margin:0;
		}

		header {
			border:1px solid #ccc;
			padding:.5em;
		}
	}

	#form_holder {
		width:49%;
		float:left;
		border: 1px solid #ddd;
	}

	#manifest_holder {
		width:49%;
		float:left;
		border: 1px solid #ddd;
	}

	.step {
		display:none;

		-webkit-transition: all 1s; /* Safari */
	    transition: all 1s;

		.form-body {
			display:none;
			padding:.5em;
		}

		header {
			cursor:pointer;
		}

		.form-item {

			clear:both;

			label {
				display:block;
				float:left;
				width:12em;
			}
		}
	}

	.step.active {
		display:block;
	}

	.step.active.current .form-body {
		display:block;
	}

	.button-holder {
		text-align:right;
	}
}