.header-section {
	padding:4.375rem;
	background-color: white;
}

.header-section h1 {
	font-size:75px;
	margin-bottom:0;
}

.header-section h2 {
	font-family:$rum-stack-thin;
	font-size:54px;
	font-weight: normal;
	color:$secondary-accent;
	line-height:1.2em;
}

.header-section button {
	font-size:1.875rem;
}