.latest-version {
  background-color: $color-secondary;
  padding: 3.125rem 3.75rem 3.75rem;
  text-align: center;
}

.latest-version .version {
  font-size: 18px;
}

.latest-version .title {
  color: $color-foreground-brighter;
  margin-bottom: .75rem;
}

.latest-version a {
  color: $color-foreground-dark;
  font-weight: bold;
  text-decoration: none;
}

.latest-version img {
  vertical-align: middle;
}

.latest-version a:hover {
  color: $color-foreground-brighter;
}
