.latest-version {
	padding: 3.125rem 3.75rem 3.75rem;
	background-color: $color-secondary;
  text-align: center;
}

.latest-version .version {
	font-size: 18px;
}

.latest-version .title {
	color:white;
	margin-bottom: .75rem;
}

.latest-version a {
	color: $color-foreground-dark;
	text-decoration: none;
	font-weight: bold;
}

.latest-version img {
  vertical-align: middle;
}

.latest-version a:hover {
	color:#fff;
}
