.more-info {
	padding:4.375rem;
	background-color: $primary-accent;
}

.aboutfp h4 {
	color: $dark-accent;
	margin-bottom: 1rem;
}

.more-info .copy {
	color:#fff;
	margin-bottom: 2rem;
}

.more-info button {
	background-color: $dark-accent;
	border-radius: 3px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.more-info button:hover {
	background-color: #fff;
	color: $dark-accent;
}