.more-info {
	padding:4.375rem;
	background-color: $primary-accent;
}

.aboutfp h4 {
	color: $dark-accent;
	margin-bottom: 1rem;
}

.more-info .copy {
	color:#fff;
	margin-bottom: 2rem;
}

.more-info button {
	background-color: $dark-accent;
}