.whos-using {
  padding: 3.125rem;
  background-color: $color-background-brighter;
  text-align: center;
}

.whos-using img {
  display: inline-block;
}

.whos-using .title {
  color: $color-secondary;
}