<header class="pwa-header pure-g">
  <div class="pwa-header-left pure-u pure-u-md-1-5">
    {{#link-to 'index'}}
      <img class="pwa-header-logo" src="assets/images/logo.png" alt="PWA Builder logo">
    {{/link-to}}
  </div>
  <nav class="pwa-header-right pure-u pure-u-md-4-5">
    <ul class="pwa-header-menu">
      <li class="pwa-header-item">
        {{#link-to 'generator' class='pwa-header-link event' data-eventname='generator-cta-header'}}PWA Builder{{/link-to}}
      </li>
      <li class="pwa-header-item">
        <a class="pwa-header-link" href="http://docs.pwabuilder.com/" target="_blank">Documentation</a>
      </li>
      <li class="pwa-header-item">
        {{imagegenerator-link 'pwa-header-link'}}
      </li>
      <li class="pwa-header-item">
        <a class="pwa-header-link" href="https://github.com/manifoldjs" target="_blank">Github</a>
      </li>
    </ul>
  </nav>
</header>
