<header id="header" class="l-full-width">
	<div class="l-max-width">
		{{#link-to 'index'}}<img class="nav_logo" src="/assets/images/manifoldjs_top_logo.svg">{{/link-to}}
		<nav>
			<ul>
				<li>{{#link-to 'generator' class='event' data-eventname='generator-cta-header'}}Generate{{/link-to}}</li>
				<li>{{#link-to 'deploy'}}Deploy{{/link-to}}</li>
				<li>{{#link-to 'documentation'}}Documentation{{/link-to}}</li>
				<li>{{#link-to 'community'}}Community{{/link-to}}</li>
				<li><a href="https://github.com/manifoldjs" target="_blank">Github</a></li>
			</ul>
		</nav>
	</div>
</header>
