.featured-posts .featured-post:first-child {
  grid-column: span 2 / span 2;
}

.doc-link {
  color: #342a6a;
  text-decoration: underline;
}

.doc-link p {
  font-weight: normal;
}

.doc-link:hover {
  cursor: pointer;
}