<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>

     <!-- for analytics -->
    <meta name="ms.appid" content="PWABuilder">

    <!-- Add our RSS (Atom) feed -->
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom 1.0">

    {# Google Schema #}
    <meta
      itemprop="name"
      content="{% if metaTitle %}{{ metaTitle }}{{
        ' | '
      }}{% endif %}{% if title %}{{ title }}{{
        ' | '
      }}{% endif %}{% if site.name %}{{ site.name }}{% endif %}"
/>
    <meta
      itemprop="description"
      content="{% if excerpt %}{{ excerpt }}{% else %}{{
        site.description
      }}{% endif %}"
/>

    {# Twitter #}
    <meta
      name="twitter:title"
      content="{% if metaTitle %}{{ metaTitle }}{{
        ' | '
      }}{% endif %}{% if title %}{{ title }}{{
        ' | '
      }}{% endif %}{% if site.name %}{{ site.name }}{% endif %}"
/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta
      name="twitter:description"
      content="{% if excerpt %}{{ excerpt }}{% else %}{{
        site.description
      }}{% endif %}"
/>
    <meta name="twitter:site" content="{{ site.author.handle }}"/>
    <meta name="twitter:creator" content="{{ author.name }}"/>
    <meta
      name="twitter:image:src"
      content="{{ site.url }}{{ site.baseUrl }}{{ image }}"
/>

    {# Open Graph #}
    <meta
      name="og:title"
      content="{% if metaTitle %}{{ metaTitle }}{{
        ' | '
      }}{% endif %}{% if title %}{{ title }}{{
        ' | '
      }}{% endif %}{% if site.name %}{{ site.name }}{% endif %}"
/>
    <meta
      name="og:description"
      content="{% if excerpt %}{{ excerpt }}{% else %}{{
        site.description
      }}{% endif %}"
/>
    <meta
      name="og:image"
      content="{{ site.url }}{{ site.baseUrl }}{{ image }}"
/>
    <meta name="og:url" content="{{ site.url }}{{ site.baseUrl }}"/>
    <meta name="og:site_name" content="{{ site.name }}"/>
    <meta name="og:locale" content="en_us"/>
    <meta name="og:type" content="website"/>

    <link type="image/x-icon" href="{{ site.baseUrl }}favicon.png" rel="icon"/>

    <title>
      {% if metaTitle %}
        {{ metaTitle }}
      {% else %}
        {{ title }}
      {% endif %}
      {% if metaTitle or title %} | {% endif %}
      {{ site.name }}
    </title>

    <script
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
      type="module"
    ></script>
    <script
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
      nomodule
    ></script>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    <link href="{{ site.baseUrl }}assets/main.bundle.css" rel="stylesheet"/>
    {% block head %}{% endblock %}
  </head>

  <body class="flex flex-col min-h-screen">
    {% block header %}
      {% include 'header.njk' %}
    {% endblock %}
    {% block subHeader %}
      {% include 'sub-header.njk' %}
    {% endblock %}
    <main class="container mx-auto px-8 xl:px-32">
      {% block body %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include "categories.njk" %}
    {% block footer %}
      {% include 'footer.njk' %}
    {% endblock %}
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <script src="{{ site.baseUrl }}assets/main.bundle.js"></script>
    <!-- for analytics -->
    <script src="https://az725175.vo.msecnd.net/scripts/jsll-4.js"></script>
    <script>
      const config = {
        autoCapture: {
            lineage:true
        },
        coreData: {
          appId: "PWABuilder"
        }
      };

      if (window.awa) {
        window.awa.init(config);
      }

      if (window.location.hostname.indexOf("docs") === 0) { 
        document.location.href="https://blog.pwabuilder.com/docs"; 
      }
    </script>
  </body>
</html>