{% macro featured(posts) %}
  <div class="featured-posts lg:grid lg:grid-cols-3 gap-5 my-8">
    {% for post in posts %}
      {% if not post.data.draft and post.data.featured %}
        {{card(post)}}
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro tag(posts) %}
  <div class="tag-posts lg:grid lg:grid-cols-3 gap-5 my-8">
    {% for post in posts %}
      {% if not post.data.draft and post.data.featured %}
        {{card(post)}}
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro card(post) %}
    <div class="w-full h-full featured-post relative shadow rounded p-2">
      <img loading="lazy" class="rounded-t-sm w-full object-fill object-center limited-max" src="/{{ post.data.image }}" alt=""/>
      <div class="postcard-text p-3 flex flex-col">
        <h2 id="post-title" class="my-1 leading-6">
          {{ post.data.title }}
        </h2>
        <div class="text-sm mt-1 mb-8">{{ post.data.excerpt }}</div>
        <div
            class="text-primary-font text-sm postcard-timestamp"
            datetime="{{ post.data.date }}"
          >
          {{ post.data.date | dateDisplay }}
        </div>
      </div>
      <a class="post-link" href="{{ post.url | url }}" aria-labelledby="post-title"></a>
    </div>

{% endmacro %}