@import '../base/variables';

@mixin button-shadow($rad) {
  // box-shadow: 0 $rad 2 * $rad 0 rgba($color-button-primary-purple-variant, .2);
  transition: all $animation-speed-default $animation-ease-default;
}

@mixin button-brand {
  background-color: $color-button-primary;
  color: $color-button-primary;

  &:hover {
    background-color: $color-button-primary;
  }

  &:active {
    background-color: $color-button-primary;
  }
}

.pwa-button {
  $button-pad: .75rem;
  $shadow: 2px;

  @include button-brand;
  @include button-shadow($shadow);

  border: 0;
  border-radius: .5rem;
  cursor: pointer;
  display: inline-block;
  font-family: Bitter;
  font-size: $font-size-l;
  overflow: hidden;
  padding: $button-pad 3rem;
  text-align: center;

  &:not(:disabled) {
    &:hover {
      @include button-shadow($shadow * 2);
    }

    &:active {
      @include button-shadow($shadow);
    }
  }

  @media screen and (max-width: $media-screen-l) {
    font-size: $font-size-l * .9;
    padding: $button-pad 1rem;
  }

  &--simple {
    background-color: $color-button-primary-purple-variant;
    font-size: $font-size-m;

    &:disabled {
      background-color: lighten($color-button-primary, 25%);
      cursor: default;
    }

    &:not(:disabled) {
      &:hover {
        background-color: lighten($color-button-primary, 5%);
      }

      &:active {
        background-color: $color-button-primary;
      }
    }

    @media screen and (max-width: $media-screen-xxl) {
      padding: $button-pad 1.5rem;
    }
  }

  // To use with simple
  &--brand {
    @include button-brand;
  }

  &--warning {
    background-color: $color-button-primary;
    color: $color-button-primary;

    &:hover {
      background-color: $color-button-primary;
    }

    &:active {
      background-color: $color-button-primary;
    }
  }

  &--text {
    background-color: transparent;
    border-bottom: solid .15rem $color-button-primary;
    border-radius: 0;
    box-shadow: none;
    color: $color-button-primary;
    font-size: $font-size-m;
    padding: .3rem .8rem;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: $color-button-primary;
    }

    &:active {
      background-color: transparent;
      box-shadow: none;
      color: $color-button-primary;
    }

    &:disabled {
      opacity: .5;
    }
  }

  &--right {
    float: right;
    margin-right: 10%;
  }

  &--total_right {
    float: right;
    margin-right: 1%;
  }

  &--header {
    float: right;
    margin-right: 1%;
    margin-top: -.5rem;
  }

  &--margin {
    margin-right: .3rem;
  }
}
