@import '../base/variables';
/* stylelint-disable */

.pwa-infobox {

  &--transparent {
    background-color: transparent;
  }


  &-subtitle {
    font-family: Bitter;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    margin: .5rem 0 0 0;

    &--thin {
      font-weight: $font-weight-regular;
      margin-bottom: .5rem;
    }
  }

  &-box {
    border-radius: .5rem;
    margin: .5vw .75vw;
    padding: 2.5rem;



    &--flat {
      box-shadow: none;
      min-height: 25rem;
      text-align: center;

    }
  }

  &-logo {
    max-width: 4.8rem;
    width: 100%;
  }

  &-action {

    font-family: Bitter;

  }

  &-padded {
    padding-bottom: 2rem;
  }
}
