
@import '../base/variables';
@import '../mixins/action';

.l-footer {
  color: $color-button-primary-purple-variant;
  padding: 1.5vw 2vw;

  &-action {
    @include action-link ($color-button-primary-purple-variant, $color-brand-secondary, .2rem, false);

    &--block {
      display: block;
      margin-bottom: 1.5rem;
      max-width: 12rem;
    }
  }

  &-social {
    text-align: right;
  }

  &-logo_action {
    @include action-link ($color-button-primary-purple-variant, $color-brand-secondary, .2rem, false);
  }

  &-logo {
    margin: 0 1rem;
    width: 2rem;

    &--big {
      width: 3rem;
    }

    &--small {
      width: 1.5rem;
    }
  }

  &-copy {
    font-size: $font-size-s;
    margin-top: 5vw;
    text-align: center;
  }
}

.divider {
  padding: 0 5px;
}
