@import '../base/variables';
@import '../mixins/action';

/* stylelint-disable */

.l-generator {
 
  &-toggle {
    display: block;
    margin: 1rem 0;
  }


  &-togglecheck ~ &-field--toggle {
    display: none;
  }

  &-togglecheck:checked ~ &-field--toggle {
    display: block;
  }

  &-step {
    font-size: 24px;
    line-height: 32px;

    &--big {
      min-height: 50vh;
    }

  }

  &-align {
    text-align: right;
  }

  &-padded {
    padding-left: 18vw;
  }

  &-semipadded {
    padding-left: 68px;
  }

  &-field {
    width: 100%;

    &--padded {
      padding-top: .5rem;
    }
  }

  &-form {
    padding-right: 4em;
    width: 50%;

    p {
      color: rgba(44,62,80, .6);
      margin: 0;
      font-size: 14px;
    }
  }


  &-textarea {
    width:100%;
  }
  
  &-button {
    width: 200px;
  }

  &-input,
  &-textarea {
    border-width: 0 0 1px 0;
    font-size: 18px;
    border-color: #f4f4f4;
    line-height: 19px;
    font-family: "Segoe UI";
    background-color: transparent;
    padding: .5em;

    &--select {
      cursor: pointer;
    }

    &--fake {
      cursor: pointer;
      display: inline-block;
    }

    &--small {
      width: 20%;
    }

    &--largest {
      width: 100%;
    }

    &--tiny {

      height: 2.5rem;
      padding: 0;
      width: 3rem;
    }

  }

  &-wrapper {
    height: 4rem;
    position: relative;

    &--padded {
      padding-top: 1rem;
    }
  }


  &-loading {
    display: inline-block;
    padding-left: .25rem;
    transform: translateY(-10%);
  }

  &-table {
    border-radius: .5rem;
    margin: 2rem 0;
    padding: 1rem;

  }

  &-tablec {
    text-transform: capitalize;

    img {
      max-width: 90%;
    }

    &--right {
      text-align: right;
    }
  }

  &-close {
    cursor: pointer;

  }

  &-buttons {
    margin-left: 68px;

    &--centered {
      padding: 0 0 2rem 0;
      text-align: center;
    }
  }

  &-options {
    padding: .5rem 0 1rem 0;
  }

  &-messages {
    padding: 1rem;

    &--code {
      padding: 3rem 1rem;

    }
  }

  &-message {
    padding-bottom: 2rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &-code {
    margin: 0;
    min-height: 4rem;
    padding: 1rem 0 0 0;

    code {
      white-space: pre-wrap;
    }

    &.code-for-website {
      pre {
        max-height: 350px;
      }
    }

    &.service-worker-code {
      pre {
        max-height: 400px;
      }
    }
  }

  &-description {
    &--context {
      max-width: 30rem;
    }
  }

  &-content {
    display: inline-block;
    width: 100%;
  }

  &-contentright {
    display: inline-block;
    float: right;
  }

  &-box {
    text-align: left;
  }

  &-space_right {
    margin-right: 1rem;
  }

  &-space_top {
    padding-top: 1rem;
  }

}





