<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Manifest Editor</title>

    <script type="module" src="/dist/index.js"></script>

    <link rel="stylesheet" href="/global.css" />

    <link
      rel="stylesheet"
      media="(prefers-color-scheme:light)"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.78/dist/themes/light.css"
    />
    <link
      rel="stylesheet"
      media="(prefers-color-scheme:dark)"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.78/dist/themes/dark.css"
      onload="document.documentElement.classList.add('sl-theme-dark');"
    />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.78/dist/shoelace.js"></script>
  </head>

  <body>
    <div id="editor-holder">
      <div id="close"><ion-icon name="close"></ion-icon></div>
      <div id="editor-header">
        <div id="header-text">
          <h1>Generate a manifest</h1>
          <p>Generate your Manifest Base Files Package below by editing the required fields. Once you have added the updated maifest to your PWA, re-test the url. Once you are staistifed with you score package your PWA for the stores.</p>
        </div>
        <div id="header-actions">
          <button id="download-button">Download Manifest</button>
          <button id="reset-button">Reset to original Manifest <ion-icon name="refresh"></ion-icon></button>
          <div id="actions">
            <span class="header-action"><a href="https://marketplace.visualstudio.com/items?itemName=PWABuilder.pwa-studio" target="_blank" rel="noopener">VS Code Extension </a> <img src="/assets/arrow.svg" alt="arrow" /> </span>
            <span class="header-action"><a href="https://developer.mozilla.org/en-US/docs/Web/Manifest" target="_blank" rel="noopener">Manifest Documentation </a> <img src="/assets/arrow.svg" alt="arrow" /> </span>
          </div>
        </div>
      </div>
      <pwa-manifest-editor></pwa-manifest-editor>
    </div>
    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>

    <script type="module">
      let editor = document.querySelector("pwa-manifest-editor");

      /* let resetBtn = document.getElementById("reset-button");
      resetBtn.addEventListener("click", () => {
        editor.resetManifest();
      });

      let downloadBtn = document.getElementById("download-button");
      downloadBtn.addEventListener("click", () => {
        editor.downloadManifest();
      }); */

      editor.initialManifest = {
  "name": "T2C - Tram & Bus",
  "short_name": "T2",
  "orientation": "upside down",
  "lang": "en-US",
  "related_applications": [],
  "prefer_related_applications": "false",
  "icons": [
    {
      "src": "images/192x192.png",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "images/2251x2251.png",
      "type": "image/png",
      "sizes": "2251x2251"
    },
    {
      "src": "images/512x512.png",
      "type": "image/png",
      "sizes": "512x512"
    }
  ],
  "start_url": "/?utm_source=launcher",
  "display": "abc",
  "display_override": [],
  "protocol_handlers": [],
  "background_color": "none",
  "theme_color": "none",
  "screenshots": [],
  "shortcuts": [
    {
      "icons": [
        {
          "src": "/images/shortcuts/a.png",
          "sizes": "96x96"
        }
      ],
      "short_name": "Jaude - A",
      "name": "Jaude Ligne A",
      "url": "https://t2c.app/A/Jaude/Les%20Vergnes?utm_source=launcher_shortcuts",
      "description": "Horaire de la ligne A à l'arrêt Jaude"
    },
    {
      "icons": [
        {
          "src": "/images/shortcuts/b.png",
          "sizes": "96x96"
        }
      ],
      "short_name": "Jaude - B",
      "name": "Jaude Ligne B",
      "url": "https://t2c.app/B/Jaude/Royat%20Pl.%20Allard?utm_source=launcher_shortcuts",
      "description": "Horaire de la ligne B à l'arrêt Jaude"
    },
    {
      "icons": [
        {
          "src": "/images/shortcuts/c.png",
          "sizes": "96x96"
        }
      ],
      "short_name": "Jaude - C",
      "name": "Jaude Ligne C",
      "url": "https://t2c.app/C/Jaude/Tamaris?utm_source=launcher_shortcuts",
      "description": "Horaire de la ligne C à l'arrêt Jaude"
    },
    {
      "icons": [
        {
          "src": "/images/shortcuts/a.png",
          "sizes": "96x96"
        }
      ],
      "short_name": "Université - A",
      "name": "Université Ligne A",
      "url": "https://t2c.app/A/Universités/Les Vergnes?utm_source=launcher_shortcuts",
      "description": "Horaire de la ligne A à l'arrêt Université"
    }
  ]
}; //load an initial manifest
      editor.manifestURL = "https://t2c.app/manifest.json"

      let editedManifest = editor.manifest; // get edited or generated manifest
      //console.log(editedManifest);

      //editor.addEventListener('manifestUpdated', (e) => { console.log("Manifest Updated") });

      //editor.addEventListener('screenshotsUpdated', (e) => { console.log("Screenshots Updated") });
      //let screenshots = editor.getScreenshots(); // get blobs of all screenshots

      /*
      let icons = editor.getIcons(); // get blobs of all icons

      // events
      editor.addEventListener('iconsUpdated', (e) => { });
      */

   </script>
  </body>
</html>

