<section class="relative">
  <button class="left font-bold flex items-center" id="slideLeft" type="button">
    <ion-icon name="chevron-back-outline" aria-hidden="true"></ion-icon>
  </button>
  <button class="right font-bold flex items-center" id="slideRight" type="button">
    <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
  </button>
  {% if collections.tagList.length %}
  <ul id="container" class="flex overflow-x-hidden overflow-y-auto mx-6 p-0">
    {% for tag in collections.tagList | filterTagList %}
    <li class="flex-grow-0 flex-shrink-0">
      <div class="px-2 py-1 mx-1 tag-pill">
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="capitalize relative text-sm">{{ tag }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</section>

<style>
  ul {
    scroll-behavior: smooth;
  }

  button {
    color: #4F3FB6;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%
  }

  button.left {
    left: 0;
  }

  button.right {
    right: 0;
  }

  li {
    list-style: none;
  }

  .tag-pill {
    background-color: #F1F2FA;
    border-radius: 12px;
  }

  .tag-pill a {
    text-decoration: none;
  }
</style>

<script>
  const buttonRight = document.getElementById('slideRight');
  const buttonLeft = document.getElementById('slideLeft');

  buttonRight.onclick = function () {
    document.getElementById('container').scrollLeft += 300;
  };
  buttonLeft.onclick = function () {
    document.getElementById('container').scrollLeft -= 300;
  };
</script>