<footer class="w-full flex items-center justify-between mb-8 px-8" role="contentinfo">
  <div class="mr-12">
    <p class="mb-3 text-xs">
      &copy; PWA Builder was founded by Microsoft as a community guided, open
            source project to help move PWA adoption forward.
    </p>
    <ul class="flex subheaderUlFoot">
      <li class="mr-2">
        <a class="text-xs subheaderFootU underline" href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">Our Privacy Statement</a>
      </li>
      <li>
        <a class="text-xs subheaderFootU underline" href="https://github.com/pwa-builder/PWABuilder/blob/master/TERMS_OF_USE.md" target="_blank">Terms of use</a>
      </li>
    </ul>
  </div>
  <ul class="flex justify-center items-center subheaderUlFoot">
      <li class="mx-2 my-1">
      <a href="https://github.com/pwa-builder/PWABuilder" class="subheaderFoot" target="_blank">
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </li>
    <li class="mx-2 my-1">
      <a href="https://twitter.com/pwabuilder" class="subheaderFoot" target="_blank">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    </li>
    <li class="mx-2 my-1">
      <a href="https://www.youtube.com/c/PWABuilder" class="subheaderFoot" target="_blank">
        <ion-icon name="logo-youtube"></ion-icon>
      </a>
    </li>
  </ul>
</footer>

<style>
  .subheaderFoot {
     text-decoration: none;
     color: rgb(41, 44, 58);
  }

  .subheaderFootU {
     color: rgb(41, 44, 58);
  }

  .subheaderUlFoot {
    padding: 0;
    list-style: none;
  }

  .subheaderUlCat li {
    list-style: none;
  }
</style>