<footer class="flex flex-col relative bg-cover bg-center bg-no-repeat" role="contentinfo">
  <div class="container mx-auto px-8 xl:px-12">
    {% if '/post' in page.url %}
      <h2 class="text-white my-6 text-3xl">Keep reading</h2>
      <div class="w-full lg:grid lg:grid-cols-3 gap-3">
        <div class="bg-white rounded mb-4">
          {%- set next1Post = collections['postsWithoutDrafts'] | getPreviousCollectionItem(page) %}
          {%- if next1Post %}
            {{ cardLayouts.card(next1Post)}}
          {% endif %}
        </div>
        <div class="bg-white rounded mb-4">
          {%- set next2Post = collections['postsWithoutDrafts'] | getPreviousCollectionItem(next1Post) %}
          {%- if next2Post %}
            {{ cardLayouts.card(next2Post)}}
          {% endif %}
        </div>
        <div class="bg-white rounded mb-4">
          {%- set next3Post = collections['postsWithoutDrafts'] | getPreviousCollectionItem(next2Post) %}
          {%- if next3Post %}
            {{ cardLayouts.card(next3Post)}}
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div class="flex justify-between">
      <ul class="flex subheaderUlFoot text-white">
        <li class="mr-2">
          <a class="text-xs subheaderFootU underline" href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">Privacy Statement</a>
        </li>
        <li>
          <a class="text-xs subheaderFootU underline" href="https://github.com/pwa-builder/PWABuilder/blob/master/TERMS_OF_USE.md" target="_blank">Terms of use</a>
        </li>
      </ul>
      <ul class="flex justify-center items-center subheaderUlFoot">
          <li class="mx-2 my-1">
          <a href="https://github.com/pwa-builder/PWABuilder" class="subheaderFoot" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
        <li class="mx-2 my-1">
          <a href="https://twitter.com/pwabuilder" class="subheaderFoot" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li class="mx-2 my-1">
          <a href="https://www.youtube.com/c/PWABuilder" class="subheaderFoot" target="_blank">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<style>
  footer {
    background: #292c3a;
  }
  .subheaderFoot {
     text-decoration: none;
     color: #fff;
  }

  .subheaderFootU {
     color: #fff;
  }

  .subheaderUlFoot {
    padding: 0;
    list-style: none;
  }

  .subheaderUlCat li {
    list-style: none;
  }
</style>