<header class="header flex items-center justify-between px-12" role="banner">
  <a id="pwa-logo-link" aria-label="Pwa Logo" href="https://www.pwabuilder.com" rel="home" class="text-lg font-bold leading-tight" >
    <img aria-labelledby="pwa-logo-link" loading="lazy" alt="" class="w-20" src="/logo.svg"
/></a>
  <nav aria-label="Navigation" class="w-full h-12" role="navigation" tabindex="-1">
    <ul class="w-full h-full flex justify-between items-center headerUl">
      <li class="ml-auto mr-3 font-bold">
        <a class="headerA" href="https://docs.pwabuilder.com" target="_blank"> Docs </a>
      </li>
      <li>
        <a class="headerA" href="https://github.com/pwa-builder/pwabuilder" target="_blank">
          <ion-icon name="logo-github" size="large"></ion-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  }

  .headerA {
     text-decoration: none;
     color: rgb(41, 44, 58);
  }

  .headerUl {
    list-style: none;
    margin-top: 0;
  }

  .headerUl li {
    list-style: none;
  }
</style>