<header class="header flex items-center justify-between px-8 xl:px-12" role="banner">
  <a id="pwa-logo-link" aria-label="Pwa Logo" href="https://www.pwabuilder.com" rel="home" class="text-lg font-bold leading-tight" >
    <img aria-labelledby="pwa-logo-link" loading="lazy" class="w-20" src="/PWAColorLogo.svg" role="img"
/></a>
  <nav aria-label="Navigation" class="w-full h-12" role="navigation" tabindex="-1">
    <ul class="w-full h-full flex justify-between items-center headerUl">
      <li class="ml-auto mr-3 font-bold">
        <a class="headerA" href="https://blog.pwabuilder.com"> Blog </a>
      </li>
      <li class="mr-3 font-bold">
        <a class="headerA" href="https://docs.pwabuilder.com" target="_blank"> Docs </a>
      </li>
      <li class="dropdown-li">
        <span class="headerSpan trigger"> Community </span>
        <div class="dropdown">
          <p>Follow us on</p>
          <a class="dropdown-link" href="https://github.com/pwa-builder/PWABuilder" target="_blank">Github</a>
          <a class="dropdown-link" href="https://twitter.com/pwabuilder" target="_blank">Twitter</a>
          <a class="dropdown-link" href="https://aka.ms/pwabuilderdiscord" target="_blank">Discord</a>
        </div>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  }

  .headerA {
     text-decoration: none;
     color: rgb(41, 44, 58);
  }

  .headerA:hover {
    text-decoration: none;
  }

  .headerSpan {
     color: rgb(41, 44, 58);
     font-weight: bold;
  }

  .headerA:hover, .headerSpan:hover {
    color: #4f3fb6;
  }

  .headerUl {
    list-style: none;
    margin-top: 0;
  }

  .headerUl li {
    list-style: none;
  }

  .dropdown-li {
    position: relative;
  }

  .trigger:hover {
    cursor: pointer;
  }

  .dropdown {
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #ffffff;
    width: 136px;
    padding: 16px 22px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 24px 0px;
    z-index: 1;
  }

  .dropdown p {
    font-weight: bold;
  }

  .dropdown a {
    text-decoration: none;
    font-weight: normal;
  }

  .dropdown p, .dropdown a {
    margin: 0;
    font-size: 16px;
    color: #777777;
  }

  .dropdown a:hover {
    color: #4f3fb6;
    font-weight: bold;
  }

</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var trigger = document.querySelector('.trigger');
    var dropdown = document.querySelector('.dropdown');

    // Toggle dropdown on hover
    trigger.addEventListener('mouseenter', function() {
      if(dropdown.style.visibility === "hidden" || dropdown.style.visibility.length == 0){
        dropdown.style.visibility = 'visible';
      } else {
        dropdown.style.visibility = 'hidden';
      }
    });

    // Hide dropdown on click-away
    document.addEventListener('click', function(event) {
      var isClickInsideTrigger = trigger.contains(event.target);
      if (!isClickInsideTrigger) {
        dropdown.style.visibility = 'hidden';
      }
    });
  });
</script>