{% import "layouts/postcard.njk" as cardLayouts %}

<section class="my-8">
  <h1 class="text-center">PWABuilder Blog</h1>
  {% include 'categories.njk' %}
  {{ cardLayouts.featured(posts)}}
</section>