{% import "layouts/postcard.njk" as cardLayouts %}

<section class="my-8">
  <h2 class="text-center">Posts you may like...</h2>
  {{ cardLayouts.recommended(collections.posts.slice(0, 3)) }}
</section>