<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Code Editor</title>

    <script type="module" src="/dist/index.js"></script>

    <!--Shoelace-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/dist/themes/light.css"
    />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/dist/shoelace.js"></script>
  </head>

  <body>
    <div id="editor-holder">
      <code-editor startText="Hello World"></code-editor>
    </div>

    <script type="module">

     

   </script>
  </body>
</html>

