@inject Microsoft.PWABuilder.Common.ViteEntryPointProvider viteEntryPointProvider;

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>PWABuilder</title>
    <base href="/" />

    <meta name="description" content="Publish your Progressive Web App (PWA) to app stores" />
    <meta property="og:title" content="PWABuilder" />
    <meta property="og:description" content="Publish your Progressive Web App (PWA) to app stores" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/icons/icon_512.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="ms.appid" content="PWABuilder">

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PWABuilder" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="icon" href="assets/logos/index_logo.png" type="image/png" />
    <link rel="manifest" href="/manifest.json" />

    @* Global CSS styles and variables *@
    <link href="global.css" rel="stylesheet" />
    <link href="shoelace-light-2.20.1.css" rel="stylesheet" />

    @* preloads *@
    <link rel="preload" as="image" href="/assets/new/Hero1920_withmani.webp" />
    <link rel="preload" as="font" href="/assets/fonts/Hind-Bold.ttf" type="font/ttf" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/assets/fonts/Hind-Regular.ttf" type="font/ttf" crossorigin="anonymous" />

    @* Site verification *@
    <meta name="google-site-verification" content="FUVku2bfkgdFbDkGPIfaU3hJmKdF9LT_gqu6CF2Xx8Y" />
    <meta name="msvalidate.01" content="37FDCC457CFDBE819B0CA62C035DC8B8" />

    <environment include="Development">
        <script type="module" src="http://localhost:5173/src/app-index.ts"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@viteEntryPointProvider.EntryPointCss" inline-css="true" />
        <script type="module" crossorigin src="@viteEntryPointProvider.EntryPointJs"></script>
        <script id="vite-plugin-pwa:inline-sw">
            if ('serviceWorker' in navigator) {
                window.addEventListener("load", () => navigator.serviceWorker.register("/service-worker.js", {
                    scope: "/"
                }).catch(swRegError => console.warn("Unable to register service worker due to error.", swRegError)));
            }
        </script>
    </environment>
    

</head>
<body>
    @RenderBody()
    <span id="pageTitle"></span>
    <app-index></app-index>
</body>
</html>
