<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect www to bare domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.pwabuilder\.com$" />
          </conditions>
          <action type="Redirect" url="https://pwabuilder.com/{R:1}" 
                  redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>