<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect bare domain to www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^pwabuilder\.com$" />
          </conditions>
          <action type="Redirect" url="https://www.pwabuilder.com/{R:1}" 
                  redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>