@import '../../base/variables';
@import '../../mixins/action';

.pwa-footer {
    background-color: $color-background-darker;
    color: $color-foreground-brighter;
    font-family: 'Bitter';
    padding: 1.5vw 2vw;

    &-action {
        @include action-link ( $color-foreground-brighter, $color-secondary, .2rem, false);

        &--block {
            display: block;
            margin-bottom: 1.5rem;
            max-width: 12rem;
        }
    }

    &-social {
        text-align: right;
    }

    &-logo_action {
        @include action-link ( $color-foreground-brighter, $color-secondary, .2rem, false);
    }

    &-logo {
        margin: 0 1rem;
        width: 2rem;

        &--big {
            width: 3rem;
        }

        &--small {
            width: 1.5rem;
        }
    }

    &-copy {
        font-size: $font-size-s;
        margin-top: 5vw;
        text-align: center;
    }
}
