.l {
    &-pad {
        padding: 8vh 25vw;

        @media screen and (max-width: $media-screen-xxl) {
            padding: 6vh 15vw;
        }

        @media screen and (max-width: $media-screen-l) {
            padding: 5vh 5vw;
        }

        &--top {
            padding-left: inherit;
            padding-right: inherit;

            @media screen and (max-width: $media-screen-xxl) {
                padding-left: inherit;
                padding-right: inherit;
            }

            @media screen and (max-width: $media-screen-l) {
                padding-left: inherit;
                padding-right: inherit;
            }
        }

        &--thin {
            padding: 0 15vw;

            @media screen and (max-width: $media-screen-xxl) {
                padding: 0 7vw;
            }

            @media screen and (max-width: $media-screen-l) {
                padding: 0 2vw;
            }
        }
    }

    &-inline {
        display: inline-block;
    }

    &-hidden {
        display: none;
    }

    &-breath {
        padding-top: 2rem;
    }

    &-narrow {
        margin: 0;
        padding: 0;
    }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: transparent !important;
    box-shadow: none !important;
}
