@import '../variables';

.pwa-header {
  background-color: $color-background-brighter;
  padding: 1rem 2vw;

  &-left {
    text-align: left;

    @media screen and (max-width: $media-screen-s) {
      text-align: center;
      width: 100%;
    }
  }

  &-right {
    text-align: right;

    @media screen and (max-width: $media-screen-s) {
      overflow-x: auto;
      padding-bottom: .5rem;
    }
  }

  &-logo {
    $size: 210px;
    max-width: $size;
    min-width: $size / 2;
    width: 100%;
  }

  &-menu {
    font-family: 'Bitter';
    font-size: 1.1em;
    list-style: none;
    margin-right: 1vw;
    padding: 0;
    white-space: nowrap;
  }

  &-item {
    display: inline-block;
    margin: 0 .5vw;
    text-align: center;
  }

  &-link {
    color: $color-foreground-darker;
    display: block;
    padding: 0 .5rem;
    position: relative;
    transition: color $animation-speed-default;

    &:before {
      background-color: $color-brand;
      border-radius: 1rem;
      bottom: -.35rem;
      content: '';
      display: block;
      height: .2rem;
      left: 0;
      position: absolute;
      transition: width $animation-speed-default $animation-ease-default;
      width: 0;
    }

    &.active,
    &:hover {
      color: $color-brand-dark;
      transition: color $animation-speed-default;

      &:before {
        transition: width $animation-speed-slow $animation-ease-vibrant;
        width: 100%;
      }
    }
  }
}