#header {
	height:4.688rem;
	color:#fff;
	background-color:$dark-accent;
}

#header nav {
	float:right;
}

#header ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

#header ul li {
	float:left;
	margin: 0 0 0 1.25em;
}

#header ul li:first-child {
	margin: 0;
}

#header a {
	color: #fff;
	text-decoration: none;
	font-family: $sans-stack-semibold;
	line-height: 4.688rem;
}

#header a.active {
	background-color:$primary-accent;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: .25em .85em .35em .85em;
}

#header .nav_logo {
	width: 215px;
	height: 50px;
	margin: 11px 0;
}