@-ms-viewport {	width: device-width; }
@viewport {	width: device-width; }

/* up to 767px */
@media screen and (max-width: 47.938em) {
	.l-max-width {
		width:80%;
	}
	.l-right {
		padding-left:0;
	}
	#header {
		height:auto;
		padding: 1.625rem 0;
	}
	#header nav {
		float:none;
	}
	#header ul {
		text-align: center;
		overflow: auto;
	}
	#header ul li {
		float:none;
		display: inline-block;
		margin: 0;
	}
	#header nav a {
		font-size: 14px;
		line-height: 2.063rem;
		padding: .25em .75em .35em .75em;
	}
	#header .nav_logo {
		width: 100%;
	}
	.header-section, .build-process, .latest-version, .more-info, .whos-using {
    	padding: 3rem 1rem;
	}
	.hp_logo {
		display: block;
		width: 200px;
		height: 330px;
		margin: 0 auto 1em auto !important;
		text-align: center;
	}
	.hp_logo_body {
		display: block;
		width: 90%;
		margin: 0 auto 1em auto !important;
		text-align: center;
	}
	.header-section h2 {
		font-size: 30px !important;
		line-height:1.2em;
		text-align: center;
	}
	.header-section button {
    	display: block;
    	margin: 0 auto;
    	font-size: 1.275rem;
	}
	.build-process .title {
		display: block;
		width: 100%;
		margin: 0 auto 1em auto;
		text-align: center;
	}
	pre, .shell {
		font-size: 1em;
		margin: 0 !important;
	}
	.latest-version .title, .whos-using .title {
	    font-size: 1.75rem;
   		line-height: 2rem !important;
	}
	.latest-version .version {
		font-size: 18px;
		margin: 0 !important;
	}
	.aboutfp h4 {
   		line-height: 2rem;
	}
	.more-info {
		padding-bottom: 0;
	}
	.more-info .copy {
		margin-bottom: 1rem;
	}
	.more-info .l-box {
		margin-bottom: 2rem;
	}
	.more-info button, .more-info .btn {
		display: inline-block;
		margin-bottom: 1rem;
	}
	.whoisusingmjs .sitelogo_yummly, .whoisusingmjs .sitelogo_22tracks, .whoisusingmjs .sitelogo_boostmedia, .whoisusingmjs .sitelogo_nickelodeon {
		display: block;
		width: 35%;
		height: auto;
		margin: 0 auto 1.5rem auto;
	}
}

/* 768px to 849px */
@media screen and (min-width: 48.000em) and (max-width: 53.063em) {
	.l-max-width {
		width:90%;
	}
	#header {
		height:auto;
		padding: 1.625rem 0;
	}
	#header nav {
		float:none;
	}
	#header ul {
		text-align: center;
		overflow: auto;
	}
	#header ul li {
		float:none;
		display: inline-block;
		margin: 0;
	}
	#header nav a {
		font-size: 14px;
		line-height: 2.063rem;
		padding: .25em .75em .35em .75em;
	}
	#header .nav_logo {
		width: 100%;
	}
	.hp_logo {
		width: 180px;
		height: 297px;
		margin: 0 2rem 0 0;
	}
	.hp_logo_body {
		display: block;
		width: 80%;
	}
	.header-section h2 {
		font-size: 35px;
		line-height:1.2em;
	}
	.header-section button {
    	font-size: 1.375rem;
	}
	.build-process .title {
		font-size: 22px;
		text-align: right;
		margin: .5rem 1.75rem .5rem 0;
		line-height: 1.2em;
	}
	.side-nav-block {
    	margin-top: 1.25rem;
	}
	.side-nav-block .title {
		font-size: 1rem;
		line-height: 1.25rem;
		padding: 0.5rem 1rem 0.75rem 1rem;
	}
	.side-nav-block li {
    	font-size: .875rem;
    	line-height: 1.375rem;
	}
	.more-info {
		padding: 2rem;
	}
	.more-info h4 {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}
	.more-info .copy {
		font-size: .85rem;
		line-height: 1.25rem;
	}
}

/* 850px to 899px */
@media screen and (min-width: 53.125em) and (max-width: 56.188em) {
	.l-max-width {
		width:95%;
	}
	.hp_logo {
		width: 200px;
		height: 330px;
		margin: 0 2rem 0 0;
	}
	.hp_logo_body {
		display: block;
		width: 80%;
	}
	.header-section h2 {
		font-size: 45px;
		line-height:1.25em;
	}
	.header-section button {
    	font-size: 1.375rem;
	}
	.build-process .title {
		font-size: 22px;
		text-align: right;
		margin: .5rem 1.75rem .5rem 0;
		line-height: 1.2em;
	}
	.side-nav-block {
    	margin-top: 1.25rem;
	}
	.side-nav-block .title {
		font-size: 1rem;
		line-height: 1.25rem;
		padding: 0.5rem 1rem 0.75rem 1rem;
	}
	.side-nav-block li {
    	font-size: .875rem;
    	line-height: 1.375rem;
	}
	.more-info h4 {
		font-size: 1.375rem;
		line-height: 1.75rem;
	}
}

/* 900px to 1000px */
@media screen and (min-width: 56.250em) and (max-width: 62.438em) {
	.l-max-width {
		width:95%;
	}
	.hp_logo {
		width: 230px;
		height: 380px;
		margin: 0 1rem 0 0;
	}
	.hp_logo_body {
		display: block;
		width: 90%;
	}
	.header-section h2 {
		font-size: 3.125rem;
		line-height:1.2em;
	}
	.header-section button {
    	font-size: 1.375rem;
	}
	.build-process .title {
		font-size: 22px;
		text-align: right;
		margin: .5rem 1.75rem .5rem 0;
		line-height: 1.2em;
	}
	.side-nav-block {
    	margin-top: 1.25rem;
	}
	.side-nav-block .title {
		font-size: 1rem;
		line-height: 1.25rem;
		padding: 0.5rem 1rem 0.75rem 1rem;
	}
	.side-nav-block li {
    	font-size: .875rem;
    	line-height: 1.375rem;
	}
	.more-info h4 {
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
}

/* 1000px to 1099px */
@media screen and (min-width: 62.500em) and (max-width: 68.688em) {
	.l-max-width {
		width:95%;
	}
	.hp_logo {
		width: 230px;
		height: 380px;
		margin: 0 1rem 0 1rem;
	}
	.hp_logo_body {
		display: block;
		width: 80%;
	}
	.header-section h2 {
		font-size: 3.125rem;
		line-height:1.2em;
	}
	.more-info h4 {
		line-height: 1.875rem;
	}
}