.l-full-width {
	width:100%;
	background-color: #fff;
}

.l-max-width {
	max-width:1000px;
	margin:0 auto;
}

.pure-g > div, .pure-g > section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 0 1em;
}

.hp_logo {
	width: 230px;
	height: 380px;
	margin: 0 5.313rem;
}

.hp_logo_body {
	max-width: 381px;
	max-height: 78px;
	margin: 0 0 .25rem .125rem;
}

.l-top {
	padding-top:2.85rem;
}

.l-right {
	padding-left:2em;
}

.l-bottom {
	padding-bottom:2.85rem;
}

.l-app-style.no-header {
	height:calc(100% - 4.938rem - 3rem);
}

.l-app-style .page-intro {
	margin-top:0;
}

@media screen and (min-width: 48em) {
  .l-app-style {
	  height:100%;
  }
}
