.build-process {
  background-color: $color-background-brighter;
  padding: 4.375rem;
}

.build-process .title {
  font-size: 22px;
  line-height: 1.2em;
  margin: 0.45rem 1.875rem 1.125rem 5rem;
  text-align: right;
}
