@import '../../base/variables';

.pwa-hero {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    max-height: 530px;
    min-height: 250px;
    overflow: hidden;
    position: relative;

    &-background {
        //background-image: url('images/hero_poster.png');
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    &-video {
        left: 0;
        position: absolute;
        top: 0;
        z-index: -1;

        @media screen and (max-width: $media-screen-xs) {
            display: none;
        }
    }

    &-row {
        max-width: 900px;
        width: auto;
    }

    &-title {
        color: $color-foreground-darker;
        font-family: 'Bitter';
        font-size: $font-size-xl;
        font-weight: $font-weight-regular;
        margin: 0 auto;
        margin-bottom: $font-size-xl;
        max-width: 90%;
        text-align: center;
    }

    &-actions {
        text-align: center;
    }

    &-block {
        display: block;
    }

    &-link {
        @include action-link ( $color-foreground-darker, $color-foreground-darker, .1rem, true, true);

        padding-top: .5rem;
    }
}
