@import '../../base/variables';

.pwa-infos {
    &-title {
        font-family: 'Bitter';
        font-size: $font-size-xl;
        font-weight: $font-weight-regular;
        padding-bottom: $font-size-xl;
        width: 52%;

        @media screen and (max-width: $media-screen-xxl) {
            width: 75%;
        }

        @media screen and (max-width: $media-screen-l) {
            width: 100%;
        }
    }

    &-box {
        padding-right: 1.5vw;

        @media screen and (max-width: $media-screen-s) {
            min-height: 15rem;
        }

        @media screen and (max-width: $media-screen-xxs) {
            min-height: 18rem;
        }
    }

    &-subtitle {
        font-family: 'Bitter';
        font-size: $font-size-l;
        font-weight: $font-weight-regular;
        position: relative;
        text-align: left;

        &:before {
            background-color: $color-secondary;
            border-radius: 1rem;
            content: '';
            height: .15rem;
            left: -2%;
            position: absolute;
            top: -50%;
            width: 50%;

            @media screen and (max-width: $media-screen-l) {
                height: .2rem;
            }
        }
    }

    &-text {
        font-size: $font-size-m;
        line-height: $font-size-m * 1.4;
        min-height: 8.75rem;
        text-align: left;

        @media screen and (max-width: $media-screen-s) {
            min-height: 5rem;
        }
    }
}
