.notice-block {
    background: $color-secondary-dark;
    color: $color-secondary-brighter;
    margin-bottom: 1.25rem;
    padding: 1rem 1.25rem;
}

.notice-block > a {
    background: $color-secondary;
    color: $color-complementary;
    padding: 0 5px;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

.notice-block > a:hover {
    background: $color-secondary;
    color: $color-foreground-brighter;
    padding: 0 5px;
}
