@import '../../base/variables';

.pwa-partners {
  // Don't show this section for now
  display: none;

  &-title {
    font-family: Bitter;
    font-size: $font-size-xl;
    font-weight: $font-weight-regular;
    margin: 0 auto;
    text-align: center;
    width: 30%;

    @media screen and (max-width: $media-screen-xxl) {
      width: 40%;
    }

    @media screen and (max-width: $media-screen-l) {
      width: 60%;
    }

    @media screen and (max-width: $media-screen-s) {
      width: 90%;
    }
  }

  &-list {
    margin-top: 2rem;
    text-align: center;
  }

  &-logo {
    $size: 7rem;

    background-color: darken($color-background-dark, 10%);
    border-radius: 50%;
    display: inline-block;
    height: $size;
    margin: 0 1vw;
    width: $size;

    @media screen and (max-width: $media-screen-s) {
      display: block;
      margin: 2rem auto;
    }
  }
}
