.usage-block {
  margin-bottom: 2em;
}

.usage-block .titlecont {
  margin-bottom: 1rem;
}

.usage-block .title {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.platform_icon {
  display: inline-block;
  font-size: 1.125rem;
  margin: 0 .25rem 0 0;
  vertical-align: middle;
}

.platform_icon .fa-mobile-phone {
  font-size: 1.375em;
  margin-top: .25rem;
}

.platform_icon .fa-google {
  margin-top: .5rem;
}