---
title: "404 – Page Not Found"
permalink: /404.html
---

{% extends 'layouts/basepost.njk' %}
{% block body %}
  <h2 class="mb-2">{{ title }}</h2>
  <p class="mb-2">The page you've requested can't be found.</p>
  <a href="{{ site.baseUrl }}">Go back to the homepage.</a>
{% endblock %}