@import '../variables';

.pwa-button {
    background-color: $color-complementary;
    border-radius: .5rem;
    color: $color-foreground-brighter;
    display: inline-block;
    font-family: 'Bitter';
    font-size: $font-size-l;
    text-align: center;
    transition: all $animation-speed-fast $animation-ease-vibrant;
    padding: .75rem 3rem;
    position: relative;

    &:hover {
        color: $color-complementary-brighter;
        padding: .75rem 2.2rem;
        transition: all $animation-speed-fast $animation-ease-vibrant;
    }

    &:focus {
        outline: 0;
    }

    &--spaced {
        font-size: $font-size-m;
    }

    &--simple {
        background-color: $color-background-semidark;
        font-size: $font-size-m;
    }

    &--abs {
        position: absolute;
        left: 0;
        top: 0;
    }

    &--text {
        background-color: transparent;
        border-bottom: solid .15rem $color-complementary;
        border-radius: 0;
        color: $color-complementary;
        display: inline-block;
        font-size: $font-size-m;
        padding: .3rem .8rem;

        &:hover {
            color: $color-complementary-bright;
            padding: .3rem 1rem;
        }

        &:disabled {
            opacity: .5;
        }
    }

    &--right {
        float: right;
        margin-right: 10%;
    }
}