@import '../variables';

.stop-scroll {
    overflow: hidden;
}

.pwa-modal {
    background: rgba($color-background-darkest, .3);
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 32px 0;

    &-box {
        $w: 60vw;
        background: $color-background-brighter;
        border-radius: .5rem;
        box-sizing: border-box;
        box-shadow: 0px 4px 25px 4px rgba(0,0,0, 0.3);
        position: relative;
        width: $w;
        z-index: 110;

        &.error {
            max-height: 480px;
            min-height: 320px;

            @media screen and (max-width: $media-screen-l) {
                min-height: 320px;
            }

            @media screen and (max-width: $media-screen-m) {
                min-height: 320px;
            }

            .pwa-generator-box_buttons {
                margin-top: 25px;
            }
        }

        @media screen and (max-width: $media-screen-l) {
            $w: 60vw;
            width: $w;
        }

        @media screen and (max-width: $media-screen-m) {
            $w: 80vw;
            width: $w;
        }
    }

    &-title {
        font-family: 'Bitter';
        font-weight: $font-weight-semibold;
        font-size: $font-size-l;
        text-align: center;
        width: 100%;
    }

    &-body {
        margin-top: 45px;
        padding: 18px;
    }

    &-tablec {
        $padding:1.5rem;
        font-family: 'Bitter';
        text-align: right;
        font-size: $font-size-m;
        padding-top: $padding;
        padding-right: $padding;
        text-transform: capitalize;


    img {
      max-width: 90%;
    }
  }
}
