/*
  for more info on font-display
  https://web.dev/optimize-webfont-loading/#customize-the-text-rendering-delay
*/
@font-face {
  font-family: 'Hind';
  src: url('/assets/fonts/Hind-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('/assets/fonts/Hind-Bold.ttf');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
