/*
  for more info on font-display
  https://web.dev/optimize-webfont-loading/#customize-the-text-rendering-delay
*/
@font-face {
  font-family: 'Hind';
  src: url('/assets/fonts/Hind-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('/assets/fonts/Hind-Bold.ttf');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

/* Platform fonts used for the manifest previewer */
@font-face {
  font-family: 'Segoe';
  src: url('/assets/fonts/SegoeUI.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('/assets/fonts/SFProDisplay-Light.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
