/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: sans-serif;
  --font-color: #333e49;
  --secondary-font-color: #808080;
  --font-bold: 700;
  --font-medium: 400;
  --font-size: 14px;
  --large-font-size: 32px;

  --primary-background-color: white;
  --primary-color: #292c3a;
  --secondary-color: #FFFFFF;

  --button-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  --button-radius: 44px;
  --mobile-button-radius: 61px;
  --mobile-button-height: 64px;
  --mobile-button-fontsize: 22px;
  --desktop-button-height: 40px;

  --input-radius: 8px;

  --link-color: #5d5db9;
  --mobile-link-color: #0683f9;
}

html,
body {
  font-family: var(--font-family);
  color: var(--font-color);
  padding: 0;
  margin: 0;
  background: var(--primary-background-color);
}

fast-design-system-provider {
  color: var(--font-color);

  --background-color: var(--primary-background-color);
  --neutral-foreground-rest: #e5e5e5;
  --neutral-fill-input-rest: white;
  --neutral-fill-input-hover: white;
  --neutral-fill-stealth-rest: #e5e5e5;

  --neutral-fill-active: #5D5DB9;

  --neutral-fill-input-active: #e5e5e5;
}
