/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: sans-serif;
  --font-color: #333E49;
  --primary-background-color: white;
  --primary-color: #292C3A;

  --font-bold: 700;
  --font-medium: 400;

  --button-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  --button-radius: 44px;

  --input-radius: 8px;

  --laptop-width: 1280px;
  --tablet-width: 1024px;
  --phone-width: 542px;
}

html,
body {
  font-family: var(--font-family);
  color: var(--font-color);
  padding: 0;
  margin: 0;
  background: var(--primary-background-color);
}

fast-design-system-provider {
  color: var(--font-color);
  --background-color: var(--primary-background-color);
  --neutral-foreground-rest: #e5e5e5;
  --neutral-fill-input-rest: white;
  --neutral-fill-input-hover: white;
  --neutral-fill-stealth-rest: #e5e5e5;

  --neutral-fill-rest: var(--primary-color);

  --neutral-fill-input-active: #e5e5e5;
}