#grid {
  display: grid;
  grid-template-columns: 180px auto;
}

#grid.grid-mobile {
  display: initial;
}

#tablet-sidebar {
  display: none;
}

#desktop-sidebar {
  display: block;
}
