<div class="pure-g l-max-width">
	<section class="pure-u-1 pure-u-md-1-1 l-bottom">
		<div class="page-intro">
			<h1 class="title">About ManifoldJS</h1>
			<p>ManifoldJS is the easy, fast way to wrap your website into native apps for Windows, iOS, and Android. You can use the generator or include the NPM package in your existing build tools to quickly generate container apps that are ready to be deployed to the Windows Store, App Store, and Google Play Store.</p>
			<p>Help us improve ManifoldJS. Join the discussion at <a href="https://github.com/manifoldjs">github.com/manifoldjs</a>.</p>
		</div>
		
		<div class="summary">
			<h3 class="title">Who created ManifoldJS</h3>
			<p>ManifoldJS is an open source project built by a small group of passionate engineers and technical evangelists in Microsoft.</p>
			
			<h5 class="titlesub">Developer 1</h5>
			<p>Nam id pellentesque odio, sed consectetur dolor. Nam hendrerit, sem vel condimentum condimentum, purus arcu tincidunt sapien, semper ullamcorper ex tortor sit amet urna. Nulla luctus erat commodo lectus congue iaculis. Curabitur id lorem erat nisi augue tincidunt velit.</p>

			<h5 class="titlesub">Developer 2</h5>
			<p>Nam id pellentesque odio, sed consectetur dolor. Nam hendrerit, sem vel condimentum condimentum, purus arcu tincidunt sapien, semper ullamcorper ex tortor sit amet urna. Nulla luctus erat commodo lectus congue iaculis. Curabitur id lorem erat nisi augue tincidunt velit.</p>

			<h5 class="titlesub">Developer 3</h5>
			<p>Nam id pellentesque odio, sed consectetur dolor. Nam hendrerit, sem vel condimentum condimentum, purus arcu tincidunt sapien, semper ullamcorper ex tortor sit amet urna. Nulla luctus erat commodo lectus congue iaculis. Curabitur id lorem erat nisi augue tincidunt velit.</p>

			<h5 class="titlesub">Developer 4</h5>
			<p>Nam id pellentesque odio, sed consectetur dolor. Nam hendrerit, sem vel condimentum condimentum, purus arcu tincidunt sapien, semper ullamcorper ex tortor sit amet urna. Nulla luctus erat commodo lectus congue iaculis. Curabitur id lorem erat nisi augue tincidunt velit.</p>

			<h5 class="titlesub">Developer 5</h5>
			<p>Nam id pellentesque odio, sed consectetur dolor. Nam hendrerit, sem vel condimentum condimentum, purus arcu tincidunt sapien, semper ullamcorper ex tortor sit amet urna. Nulla luctus erat commodo lectus congue iaculis. Curabitur id lorem erat nisi augue tincidunt velit.</p>

			<h3 class="title">Support</h3>
			<p>Get support for ManifoldJS from the helpful folks at <a href="">StackOverflow</a>.</p>
		</div>
	</section>
</div>