<header id="header" class="l-full-width">
	<div class="l-max-width">
		{{#link-to 'index'}}<img class="nav_logo" src="/assets/images/manifoldjs_top_logo.svg">{{/link-to}}
		<nav>
			<ul>
				<li>{{#link-to 'generator'}}Generate{{/link-to}}</li>
				<li>{{#link-to 'usage'}}Usage{{/link-to}}</li>
				<li>{{#link-to 'about'}}About{{/link-to}}</li>
				<li>{{#link-to 'documentation'}}Documentation{{/link-to}}</li>
				<li>{{#link-to 'contribute'}}Contribute{{/link-to}}</li>
				<li><a href="">Github</a></li>
			</ul>
		</nav>
	</div>
</header>
<article id="main" class="l-full-width">
{{outlet}}
</article>
<footer id="footer" class="l-full-width">
	<div class="l-max-width">
		
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-5">
				<ul>
					<li>{{#link-to 'generator'}}Generate{{/link-to}}</li>
					<li>{{#link-to 'usage'}}Usage{{/link-to}}</li>
					<li>{{#link-to 'about'}}About{{/link-to}}</li>
					<li>{{#link-to 'documentation'}}Documentation{{/link-to}}</li>
				</ul>
			</div>
			<div class="pure-u-1 pure-u-md-1-5">
				<ul>
					<li>{{#link-to 'contribute'}}Contribute{{/link-to}}</li>
					<li><a href="">Github</a></li>
					<li><a href="">Link 3</a></li>
					<li><a href="">Link 4</a></li>
				</ul>
			</div>
			<div class="pure-u-1 pure-u-md-1-5">
				<ul>
					<li><a href="">Link 1</a></li>
					<li><a href="">Link 2</a></li>
					<li><a href="">Link 3</a></li>
					<li><a href="">Link 4</a></li>
				</ul>
			</div>
			<div class="pure-u-1 pure-u-md-2-5">
				<div class="social">
					<a href=""><img class="logo_twitter" src="/assets/images/logo_twitter.svg"></a>
					<a href=""><img class="logo_github" src="/assets/images/logo_github.svg"></a>
					<a href=""><img class="logo_npm" src="/assets/images/logo_npm.svg"></a>
					<a href=""><img class="logo_stackoverflow" src="/assets/images/logo_stackoverflow.svg"></a>
				</div>
				<div class="summary">
					Morbi facilisis, erat vitae tristique porta, nulla eros ornare nibh, nec semper nisl dui viverra magna. Nunc suscipit non sem eu mollis. Duis placerat risus fermentum ante consequat sodales.
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-1 copyright">
				&copy; 2015 ManifoldJS. All rights reserved.
			</div>
		</div>
				
	</div>
</footer>
