<header id="header" class="l-full-width">
	<div class="l-max-width">
		{{#link-to 'index'}}<img src="http://placehold.it/100x65">{{/link-to}}
		<nav>
			<ul>
				<li>{{#link-to 'generator'}}Generate{{/link-to}}</li>
				<li>{{#link-to 'usage'}}Usage{{/link-to}}</li>
				<li>{{#link-to 'about'}}About{{/link-to}}</li>
				<li>{{#link-to 'documentation'}}Documentation{{/link-to}}</li>
				<li>{{#link-to 'contribute'}}Contribute{{/link-to}}</li>
				<li><a href="">Github</a></li>
			</ul>
		</nav>
	</div>
</header>
<article id="main" class="l-full-width">
{{outlet}}
</article>
<footer id="footer" class="l-full-width">
	<div class="l-max-width">
		
	</div>
</footer>
