<div class="pure-g l-max-width">
	<section class="pure-u-1 pure-u-md-1-1 l-bottom summary">
		<div class="page-intro">
			<h1 class="title">About manifoldJS</h1>
			<p>manifoldJS is the easy, fast way to wrap your website into native "hosted" apps for every platform. You can use the generator or include the NPM package in your existing build tools to quickly generate container apps that are ready to be deployed to the Windows Store, App Store and Google Play Store.</p>
		</div>

		<h3>Who created manifoldJS</h3>
		<p class="slim">manifoldJS is an open source project built by a small group of passionate engineers and technical evangelists at Microsoft. Special thanks to the <a href="http://www.w3.org/2008/webapps/" target="_blank">W3C App Manifest working group</a> and <a href="https://cordova.apache.org/" target="_blank">Apache Cordova team</a> for helping make manifoldJS possible.</p>
		<p>Help us improve manifoldJS @ <a href="https://github.com/manifoldjs">github.com/manifoldjs</a>.</p>

		<h3>Support</h3>
		<p>Get support for manifoldJS from the helpful folks at <a href="http://stackoverflow.com/questions/tagged/manifoldjs" target="_blank">StackOverflow</a>.</p>

		<hr />

		<div class="page-intro">
			<h1 class="title">Contributing</h1>
		</div>

		<h3>Join in the Fun</h3>
		<p class="slim">manifoldJS is a community project. Our goal is to leverage community tools when possible, build for the platforms the Web Developer community will target, and solicit contributions from the community at large. We would love to have some help from our developers. You can contribute in a number of ways:</p>
		<ol>
			<li><strong>Report a Bug</strong> We know we have them, you know we have them. Go to github and help us <a href="https://github.com/manifoldjs/manifoldJS/issues" target="_blank">identify them</a>.</li>
			<li><strong>Fix a Bug or add a feature</strong> We happily accept code cotributions that make our framework better.  We have a few code contribution requirements that need to be met (see contirbution  guidelines below).</li>
			<li><strong>Support a new platform</strong> Are there other platforms that your targeting that support (or have a polyfill for) hosted web apps?  Contribute the code to support additional platforms (see contribute guidelines below).</li>
		</ol>

		<h3>Contrbution Guidelines</h3>
		<ol>
			<li>Code contibution must have an issue tracking it in the issue tracker that has been approved (Status = Active) by the manifoldJS team.  Your pull request should include a link to the bug that you are fixing</li>
			<li> You will need to complete a Contributor License Agreement (CLA). Briefly, this agreement testifies that you are granting us permission to use the submitted change according to the terms of the project’s license, and that the work being submitted is under appropriate copyright. (docx:  <a href="https://www.codeplex.com/Download?ProjectName=typescript&DownloadId=822190"  target="_blank">Microsoft Contribution License Agreement.docx</a>, pdf:  <a href="https://www.codeplex.com/Download?ProjectName=typescript&DownloadId=921298"  target="_blank">Microsoft Contribution License Agreement.pdf</a>).</li>
			<li> Contirbutions should be done through a pull request:
				<ul>
					<li>Requests need not be a single commit, but should be a linear sequence of commits (i.e. no merge commits in your PR)</li>
					<li>Have clear commit messages ("bug fix" and "new feature" are reserved for the core team :P )</li>
				</ul>
			</li>
			<li>Should inlcude a simple test case for you change (that passes :) ).  Test cases should utilize existing test frameworks (mocha.js, should.js)</li>
		</ol>
	</section>
</div>
