<div class="pure-g l-max-width">
	<section class="pure-u-1 pure-u-md-1-1 l-bottom">
		<div class="page-intro">
			<h1 class="title">Contributing to ManifoldJS</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt congue posuere. Vivamus eget neque nisl. Donec vel lectus quis libero sagittis congue vestibulum ut risus. Vivamus iaculis augue id sem tempor, ut auctor velit mollis. Sed consectetur bibendum lacus, quis egestas neque fermentum non. Nullam id justo ac ante vulputate laoreet quis facilisis nisl. Donec facilisis sapien et vehicula dignissim. Phasellus lacinia ligula eros, nec ullamcorper nunc tempus in. Ut in nulla in nibh vulputate faucibus non non ipsum. Maecenas vitae nibh orci. Sed <a href="">accumsan lectus</a> eget aliquet malesuada.</p>
		</div>
		
		<div class="summary">
			<h3 class="title">License Agreement</h3>
			<p>Duis nulla nunc, ullamcorper ac tristique at, gravida quis ipsum. Sed viverra sodales imperdiet. Morbi pulvinar sollicitudin turpis non eleifend. Mauris eu nibh id augue mollis venenatis. Nulla facilisi. Curabitur mi justo, sollicitudin quis libero vitae, imperdiet pellentesque est. Donec quis euismod ipsum. Donec sit amet velit a tortor faucibus blandit vitae sit amet leo.</p>
			
			<h3 class="title">What to contribute?</h3>
			<p>Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. <a href="">Mauris tristique</a> id libero ac iaculis. Vestibulum bibendum, est vitae iaculis egestas, nibh sapien vulputate metus, non consectetur tortor erat a mauris. Etiam pellentesque sem lectus, quis sollicitudin enim dignissim vel.</p>

			<h3 class="title">Filing issues</h3>
			<p>Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. Mauris eu nibh id augue mollis venenatis. Nulla facilisi. Curabitur mi justo, sollicitudin quis libero vitae, imperdiet pellentesque est. Donec quis euismod ipsum. Donec sit amet velit a tortor faucibus blandit vitae sit amet leo. Mauris tristique id libero ac iaculis. Nam congue id lorem et egestas. Vestibulum bibendum, est vitae iaculis egestas, nibh sapien vulputate metus, non consectetur tortor erat a mauris. Etiam pellentesque sem lectus, quis sollicitudin enim dignissim vel.</p>

			<h3 class="title">Feature requests</h3>
			<p>Mauris eu nibh id augue mollis venenatis. Nulla facilisi. Curabitur mi justo, sollicitudin quis libero vitae, imperdiet pellentesque est. Donec quis euismod ipsum. Donec sit amet velit a tortor faucibus blandit vitae sit amet leo.Duis nulla nunc, ullamcorper ac tristique at, gravida quis ipsum. Sed viverra sodales imperdiet.</p>

			<h3 class="title">Pull requests</h3>
			<p>Mauris eu nibh id augue <a href="">mollis venenatis</a>. Nulla facilisi. Curabitur mi justo, sollicitudin quis libero vitae, imperdiet pellentesque est. Donec quis euismod ipsum. Donec sit amet velit a tortor faucibus blandit vitae sit amet leo.Duis nulla nunc, ullamcorper ac tristique at, gravida quis ipsum. Mauris eu nibh id augue mollis venenatis. Nulla facilisi. Curabitur mi justo, sollicitudin quis libero vitae, imperdiet pellentesque est. Donec quis euismod ipsum. Donec sit amet velit a tortor faucibus blandit vitae sit amet leo. Sed viverra sodales imperdiet.</p>
		</div>
	</section>
</div>