<div class="pure-g l-max-width">
	<section class="pure-u-1 pure-u-md-4-4 l-bottom summary">
		<div class="page-intro">
		<h1 class="title">Documentation</h1>
		<p>This tool is used to create hosted web applications based on a <a href="http://www.w3.org/TR/appmanifest/">W3C Web App manifest</a>.</p>

		<h3 id="installation">Installation</h3>
		<p><div class="shell">
			<p class="line">
				<span class="prompt">$</span>
				<span class="command">npm install</span>
				<span class="app">manifoldjs</span>
			</p>
		</div></p>

        <hr />

        <h3 id="usage">Usage</h3>
		<p><div class="shell">
			<p class="line">
				<span class="prompt">$</span>
				<span class="app">manifoldjs &lt;website-url&gt; [-d &lt;app-directory&gt;] [-s &lt;short-name&gt;] [-p &lt;platforms&gt;] [-l &lt;log-level&gt;]<br />[-b] [-m &lt;manifest-file&gt;]</span>
			</p>
		</div></p>

		<h5>Parameters</h5>
		<table>
			<tr>
				<th>Parameter</th>
				<th>Description</th>
			</tr>
			<tr>
				<td>&lt;website-url&gt;</td>
				<td><strong>(required)</strong> URL of the hosted website</td>
			</tr>
			<tr class="alt">
				<td>-m|--manifest</td>
				<td><strong>(optional)</strong> Location of the W3C Web App manifest file (URL or local path). If not specified, the tool looks for a manifest in the site URL. Otherwise, a new manifest will be created pointing to the site URL.</td>
			</tr>
			<tr>
				<td>-d|--directory</td>
				<td><strong>(optional)</strong> Path to the generated project files (default value: current directory)</td>
			</tr>
			<tr class="alt">
				<td>-s|--shortname</td>
				<td><strong>(optional)</strong> Application short name. When specified, it overrides the short_name value of the manifest</td>
			</tr>
			<tr>
				<td>-l|--loglevel</td>
				<td><strong>(optional)</strong> Tracing log level options Available log levels: <i>debug</i>, <i>trace</i>, <i>info</i>, <i>warn</i>, <i>error</i> (default value: <i>warn</i>)</td>
			</tr>
			<tr class="alt">
				<td>-p|--platforms</td>
				<td><strong>(optional)</strong> Platforms to generate. Supported platforms: <i>windows</i>, <i>android</i>, <i>ios</i>, <i>chrome</i> (default value: <i>all platforms</i>)</td>
			</tr>
			<tr>
				<td>-b|--build</td>
				<td><strong>(optional)</strong> Forces the building process</td>
			</tr>
		</table>

        <h5>Example</h5>
        <p><div class="shell">
			<p class="line">
				<span class="prompt">$</span>
				<span class="app">manifoldjs http://meteorite.azurewebsites.net -d C:\Projects -l info -p windows,android -b</span>
			</p>
		</div></p>

        <hr />

        <h3 id="unittests">Unit Tests</h3>
        <p>In the terminal, install the Grunt task runner:</p>
        <p><div class="shell">
			<p class="line">
				<span class="prompt">$</span>
				<span class="command">npm install</span>
				<span class="app">-g grunt-cli</span>
			</p>
		</div></p>
        <p>In order to run tests and jshint, execute the following command:</p>
        <p><div class="shell">
			<p class="line">
				<span class="prompt">$</span>
				<span class="app">grunt</span>
			</p>
		</div></p>

        <hr />

        <h3 id="inputmanifests">Supported Input Manifests</h3>
        <ul>
			<li><a href="http://www.w3.org/TR/appmanifest/" target="_blank">W3C Web App</a></li>
        </ul>
        <p class="nom">We plan to support the following manifest files in the future:</p>
        <ul>
			<li><a href="http://wat-docs.azurewebsites.net/JsonWindows" target="_blank">Web App Template</a></li>
			<li><a href="https://developers.google.com/chrome/apps/docs/developers_guide" target="_blank">Chrome Hosted Apps</a></li>
			<li><a href="https://developer.mozilla.org/Apps/Build/Manifest" target="_blank">Firefox Open Web Apps</a></li>
		</ul>
      </div>

  </section>
</div>
