<div class="pure-g l-max-width">
	<section class="pure-u-1 pure-u-md-1-1 l-bottom">
		<div class="page-intro">
			<h1 class="title">Generate</h1>
			<p>Duis nulla nunc, ullamcorper ac tristique at, gravida quis ipsum. Sed viverra sodales imperdiet. Morbi pulvinar sollicitudin turpis non eleifend. Mauris eu nibh id augue mollis venenatis. Nulla facilisi. Curabitur mi justo, sollicitudin quis libero vitae, imperdiet pellentesque est. Donec quis euismod ipsum. Donec sit amet velit a tortor faucibus blandit vitae sit amet leo.</p>
		</div>
		
		<div class="errors">
			
			<h5>Suggestions <span>(2 items)</span></h5>
		
			<h6>Icons <span>(2 items)</span></h6>
			<ul>
				<li>A 48x48 icon should be provided for the extensions management page (chrome://extensions),</li>
				<li>It is recommended to have a 16x16 favicon,</li>
				<li>Firefox 2.0 onwards, an 512x512 icon is recommended for Firefox Marketplace and devices,</li>
				<li>It is recommended to provide icon sizes for multiple platforms, including: 16x16, 32x32, 48x48, 64x64, 90x90, 128x128 and 256x256</li>
			</ul>
			
			<h6>hap_urlAccess <span>(1 item)</span></h6>
			<ul>
				<li>It is recommended to specify a set of access rules that represent the navigation scope of the application</li>
			</ul>

			<h5>Warnings <span>(1 item)</span></h5>
		
			<h6>Icons <span>(4 items)</span></h6>
			<ul>
				<li>Launcher icons of the following sizes are required: 48x48, 72x72, 96x96, 144x144, 192x192, 512x512,</li>
				<li>An app icon of the following sizes is required: 76x76, 120x120, 152x152 and 180x180,</li>
				<li>An 1024x1024 app icon for the App Store is required,</li>
				<li>A launch image of the following sizes is required: 750x1334, 1334x750, 1242x2208, 2208x1242, 640x1136, 640x960, 1536x2048, 2048x1536, 768x1024 and 1024x768</li>
			</ul>
		</div>
	</section>
</div>