<div class="generator generator-section form-holder" id="builder_holder">
    <header>
      <h2 class="generator-section-title">Generate your App Manifest</h2>
      <p class="intro">ManifoldJS takes simple meta-data about your site and uses that to generate native "hosted" apps for Android, iOS, and Windows.</p>
    </header>
    {{partial "generator-steps"}}
</div>
