<div class="generator generator-section form-holder" id="builder_holder">
    <header>
      <h2 class="generator-section-title">Generate your Progressive Web App</h2>
      <p class="intro">PWA.tools takes data from your site and uses that to generate cross-platform Progressive Web Apps</p>
    </header>
    {{partial "generator-steps"}}
</div>
