<div class="pwa-generator" id="builder_holder">
    <header class="pwa-generator-header">
        Generate your Progressive Web App
    </header>

    <p class="pwa-generator-info">
      PWA.tools takes data from your site and uses that to generate cross-platform Progressive Web Apps
    </p>
    {{partial "generator-steps"}}
</div>