{{#generator-start action="updateStep"}}
<p class="instructions">Provide your URL or upload your manifest and we'll help fill in the gaps if there are any.</p>
<div class="form-item url">
  <label>URL</label>
  {{input name="siteUrl" type="url" value=model.siteUrl placeholder="Enter a URL"}}
</div>
<span>&nbsp;or</span>
<div class="form-item manifest">
  {{#manifest-upload action="updateManifest"}}{{/manifest-upload}}
</div>
{{/generator-start}}
