<section class="l-fullwidth">
	<div class="l-max-width">
		<h1>ManifoldJS</h1>
		<h2>Create native apps across platforms &amp; devices with the power of the Web</h2>
		<button>Generate Now</button>
	</div>
</section>
<section class="l-fullwidth build-process">
	<div class="l-max-width">
		<h3>Start using ManifoldJS as part of your build process</h3>
		<pre>
			$ npm install mainfoldjs
			$ grunt mainfoldjs
		</pre>
	</div>
</section>
<section class="l-fullwidth latest-version">
	<div class="l-max-width">
		Stuff
	</div>
</section>
<section class="l-fullwidth more-info">
	<div class="l-max-width">
		Stuff
	</div>
</section>
<section class="l-fullwidth whos-using">
	<div class="l-max-width">
		Stuff
	</div>
</section>
