<div class="pure-g l-max-width">
	<section class="pure-u-1 pure-u-md-1-5">
	</section>
	<section class="pure-u-1 pure-u-md-4-5">
		<div class="page-intro">
			<h1 class="title">Usage</h1>
			<p>
				Once you have your app package ready, here’s what’s next:<br />
				<strong>Don’t have a package? <a href="#">Click here to get started</a>!</strong>
			</p>
		</div>
		<div class="usage-block">
			<h5 class="title">Windows</h5>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-5">
					<img src="http://placehold.it/250x100">
				</div>
				<div class="pure-u-1 pure-u-md-3-5">
					Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. Mauris tristique id libero ac iaculis. Nam congue id lorem et egestas. <strong><a href="">View documentation</a></strong>.
				</div>
			</div>
		</div>
		<div class="usage-block">
			<h5 class="title">Windows Phone</h5>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-5">
					<img src="http://placehold.it/250x100">
				</div>
				<div class="pure-u-1 pure-u-md-3-5">
					Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. Mauris tristique id libero ac iaculis. Nam congue id lorem et egestas. <strong><a href="">View documentation</a></strong>.
				</div>
			</div>
		</div>
		<div class="usage-block">
			<h5 class="title">Android</h5>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-5">
					<img src="http://placehold.it/250x100">
				</div>
				<div class="pure-u-1 pure-u-md-3-5">
					Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. Mauris tristique id libero ac iaculis. Nam congue id lorem et egestas. <strong><a href="">View documentation</a></strong>.
				</div>
			</div>
		</div>
		<div class="usage-block">
			<h5 class="title">iOS</h5>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-5">
					<img src="http://placehold.it/250x100">
				</div>
				<div class="pure-u-1 pure-u-md-3-5">
					Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. Mauris tristique id libero ac iaculis. Nam congue id lorem et egestas. <strong><a href="">View documentation</a></strong>.
				</div>
			</div>
		</div>
		<div class="usage-block">
			<h5 class="title">Chrome OS</h5>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-5">
					<img src="http://placehold.it/250x100">
				</div>
				<div class="pure-u-1 pure-u-md-3-5">
					Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. Mauris tristique id libero ac iaculis. Nam congue id lorem et egestas. <strong><a href="">View documentation</a></strong>.
				</div>
			</div>
		</div>
		<div class="usage-block">
			<h5 class="title">Firefox OS</h5>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-5">
					<img src="http://placehold.it/250x100">
				</div>
				<div class="pure-u-1 pure-u-md-3-5">
					Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. Mauris tristique id libero ac iaculis. Nam congue id lorem et egestas. <strong><a href="">View documentation</a></strong>.
				</div>
			</div>
		</div>
		<div class="usage-block">
			<h5 class="title">Web</h5>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-5">
					<img src="http://placehold.it/250x100">
				</div>
				<div class="pure-u-1 pure-u-md-3-5">
					Donec suscipit tristique dignissim. Suspendisse eget aliquet ex. Mauris tristique id libero ac iaculis. Nam congue id lorem et egestas. <strong><a href="">View documentation</a></strong>.
				</div>
			</div>
		</div>
	</section>
</div>
